.element-signup {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .element-signup .div {
    background-color: #ffffff;
    width: 1680px;
    height: 1075px;
    position: relative;
  }
  
  .element-signup .overlap {
    position: absolute;
    width: 866px;
    height: 1075px;
    top: 0;
    left: 0;
    background-image: url(https://c.animaapp.com/qUsUxF2m/img/ng-m-m-a-h--xanh-treo-l--l-ng-t-i--debunk-hanoi-tr--c-khi-sang-t.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .element-signup .HC-showcase {
    position: absolute;
    width: 316px;
    height: 82px;
    top: 51px;
    left: 0;
    object-fit: cover;
  }
  
  .element-signup .overlap-group {
    position: absolute;
    width: 669px;
    height: 707px;
    top: 191px;
    left: 943px;
  }
  
  .element-signup .rectangle {
    width: 626px;
    height: 651px;
    top: 56px;
    left: 43px;
    background-color: var(--pink-sn-sa);
    position: absolute;
    border-radius: 60px;
  }
  
  .element-signup .rectangle-2 {
    width: 622px;
    height: 665px;
    top: 0;
    left: 0;
    background-color: var(--hong-trng-lm);
    border: 7px solid;
    border-color: var(--xanh-thin-nhin);
    position: absolute;
    border-radius: 60px;
  }
  
  .element-signup .group {
    position: absolute;
    width: 474px;
    height: 64px;
    top: 112px;
    left: 73px;
  }
  
  .element-signup .welcomeback-fabiana {
    position: absolute;
    width: 470px;
    top: 0;
    left: 0;
    font-family: var(--h4-font-family);
    font-weight: var(--h4-font-weight);
    color: var(--xanh-nc-bn);
    font-size: var(--h4-font-size);
    letter-spacing: var(--h4-letter-spacing);
    line-height: var(--h4-line-height);
    white-space: nowrap;
    font-style: var(--h4-font-style);
  }
  
  .element-signup .text-wrapper {
    position: absolute;
    width: 470px;
    top: 49px;
    left: 0;
    font-family: var(--caption-font-family);
    font-weight: var(--caption-font-weight);
    color: var(--gray-500);
    font-size: var(--caption-font-size);
    letter-spacing: var(--caption-letter-spacing);
    line-height: var(--caption-line-height);
    white-space: nowrap;
    font-style: var(--caption-font-style);
  }
  
  .element-signup .group-2 {
    position: absolute;
    width: 482px;
    height: 73px;
    top: 190px;
    left: 75px;
  }
  
  .element-signup .frame {
    display: flex;
    height: 45px;
    align-items: center;
    gap: 5px;
    padding: 15px;
    top: 28px;
    left: 0;
    border-radius: 25px;
    border: 2px solid;
    border-color: var(--pink-sn-sa);
    width: 480px;
    position: absolute;
  }
  
  .element-signup .text {
    position: relative;
    width: 218px;
    height: 13px;
    margin-top: -0.93px;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--tm-mng-mer);
    font-size: var(--body-font-size);
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    white-space: nowrap;
    font-style: var(--body-font-style);
  }
  
  .element-signup .label {
    position: absolute;
    width: 470px;
    top: 0;
    left: 11px;
    font-family: var(--button-font-family);
    font-weight: var(--button-font-weight);
    color: var(--dark-500);
    font-size: var(--button-font-size);
    letter-spacing: var(--button-letter-spacing);
    line-height: var(--button-line-height);
    white-space: nowrap;
    font-style: var(--button-font-style);
  }
  
  .element-signup .group-3 {
    position: absolute;
    width: 482px;
    height: 73px;
    top: 287px;
    left: 77px;
  }
  
  .element-signup .checkbox-wrapper {
    display: flex;
    height: 25px;
    align-items: center;
    gap: 75px;
    top: 472px;
    left: 75px;
    width: 480px;
    position: absolute;
  }
  
  .element-signup .checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 16px 0px 0px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .element-signup .state {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .element-signup .p {
    position: relative;
    width: fit-content;
    font-family: var(--caption-font-family);
    font-weight: var(--caption-font-weight);
    color: var(--dark-500);
    font-size: var(--caption-font-size);
    letter-spacing: var(--caption-letter-spacing);
    line-height: var(--caption-line-height);
    white-space: nowrap;
    font-style: var(--caption-font-style);
  }
  
  .element-signup .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 257px;
    height: 52px;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 533px;
    left: 187px;
    background-color: var(--dng-kh);
    border-radius: 25px;
    border: 3px solid;
    border-color: var(--pink-sn-sa);
  }
  
  .element-signup .close-up {
    position: relative;
    width: 34px;
    height: 31px;
    margin-top: -9.50px;
    margin-bottom: -9.50px;
  }
  
  .element-signup .text-wrapper-2 {
    position: relative;
    width: 162px;
    height: 16px;
    margin-top: -5.00px;
    font-family: var(--button-font-family);
    font-weight: var(--button-font-weight);
    color: var(--tm-mng-mer);
    font-size: var(--button-font-size);
    letter-spacing: var(--button-letter-spacing);
    line-height: var(--button-line-height);
    white-space: nowrap;
    font-style: var(--button-font-style);
  }
  
  .element-signup .overlap-group-wrapper {
    position: absolute;
    width: 480px;
    height: 71px;
    top: 384px;
    left: 75px;
  }
  
  .element-signup .overlap-group-2 {
    position: relative;
    width: 482px;
    height: 71px;
  }
  
  .element-signup .group-4 {
    position: absolute;
    width: 482px;
    height: 71px;
    top: 0;
    left: 0;
  }
  
  .element-signup .frame-2 {
    padding: 15px;
    height: 43px;
    top: 28px;
    left: 0;
    border-radius: 25px;
    border: 2px solid;
    border-color: var(--pink-sn-sa);
    width: 480px;
    position: absolute;
  }
  
  .element-signup .asterisk {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 40px;
    left: 16px;
  }
  
  .element-signup .img {
    left: 39px;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 40px;
  }
  
  .element-signup .asterisk-2 {
    left: 62px;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 40px;
  }
  
  .element-signup .asterisk-3 {
    left: 85px;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 40px;
  }
  
  .element-signup .asterisk-4 {
    left: 109px;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 40px;
  }
  
  .element-signup .asterisk-5 {
    left: 132px;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 40px;
  }
  
  .element-signup .asterisk-6 {
    left: 155px;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 40px;
  }
  
  .element-signup .asterisk-7 {
    left: 178px;
    position: absolute;
    width: 19px;
    height: 19px;
    top: 40px;
  }
  
  .element-signup .hoa-nhy-tng-tng {
    position: absolute;
    width: 62px;
    height: 57px;
    top: 116px;
    left: 1445px;
  }
  
  .element-signup .bng-do {
    width: 50px;
    height: 58px;
    left: 1515px;
    position: absolute;
    top: 117px;
  }
  
  .element-signup .bng-quo {
    width: 80px;
    height: 56px;
    left: 1357px;
    position: absolute;
    top: 117px;
  }
  
  .element-signup .u-x {
    position: absolute;
    width: 62px;
    height: 58px;
    top: 115px;
    left: 1287px;
  }
  
  .element-signup .hoa-nhy-tng-tng-2 {
    position: absolute;
    width: 62px;
    height: 57px;
    top: 925px;
    left: 1071px;
  }
  
  .element-signup .bng-do-2 {
    position: absolute;
    width: 50px;
    height: 58px;
    top: 925px;
    left: 943px;
  }
  
  .element-signup .bng-quo-2 {
    position: absolute;
    width: 80px;
    height: 56px;
    top: 926px;
    left: 1141px;
  }
  
  .element-signup .u-x-2 {
    position: absolute;
    width: 62px;
    height: 58px;
    top: 925px;
    left: 1001px;
  }
  .checkbox-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
    color: #555;
  }
  
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .checkbox-container input:checked ~ .checkmark {
    background-color: #ffcc00;
    border-color: #ffcc00;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox-container .checkmark:after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .checkbox-text {
    margin-top: 4px;
    color: var(--dark-500);
    text-align: right;
    font-family: var(--caption-font-family);
    font-weight: var(--caption-font-weight);
    font-size: var(--caption-font-size);
    letter-spacing: var(--caption-letter-spacing);
    line-height: var(--caption-line-height);
    font-style: var(--caption-font-style);
  }