<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/addtocart.css' %}"/>
  </head>
  <body>
    <div class="element-product-detail">
      <div class="div">
        <div class="component">
          <div class="overlap">
            <div class="group">
              <div class="overlap-group">
                <div class="navbar">
                  <a href="{% url 'trangchu' %}"class="text-wrapper">TRANG CHỦ</a>
                  <a href="{% url 'vechungto' %}" class="text-wrapper-2">VỀ BỌN TỚ</a>
                  <a href="{% url 'bosuutap' %}" class="text-wrapper-3">BỘ SƯU TẬP</a>
                  <a href="{% url 'workshop' %}"  class="text-wrapper-4">WORKSHOP/EVENT</a>
                  <a href="{% url 'installation' %}" class="text-wrapper-5">BLOG </a>
                </div>
                <img class="HC-showcase" src="https://c.animaapp.com/xetA0JpN/img/hc-showcase-26-1@2x.png" />
              </div>
              <div class="group-2">
                <a href="{% url 'signup' %}"  id="image-button">
                <div class="overlap-group-wrapper">
                  <div class="div-wrapper"><div class="text-wrapper-6">SIGN UP</div></div>
                </div>
                </a>
                <a href="{% url 'login' %}"  id="image-button">
                <div class="text-wrapper-7">LOGIN</div>
                </a>
              </div>
              <div class="group-3">
                <div class="rectangle"></div>
                <a href="{% url 'giohang' %}" > <img class="basket" src="https://c.animaapp.com/xetA0JpN/img/basket@2x.png" /> </a>
              </div>
            </div>
            <div class="group-4"></div>
          </div>
        </div>
        <div class="component-2">
          <img class="images" src="https://c.animaapp.com/xetA0JpN/img/images--1--2@2x.png" />
          <div class="group-5">
            <div class="text-wrapper-8">HOA club</div>
            <div class="text-wrapper-9">hoa_club.saigon</div>
            <div class="text-wrapper-10">hoa_club</div>
            <div class="text-wrapper-11">HOA club Sài Gòn</div>
            <div class="text-wrapper-12">THEO DÕI</div>
            <div class="text-wrapper-13">Hoa club</div>
          </div>
          <div class="group-6">
            <div class="text-wrapper-14">HOA CLUB</div>
            <p class="chi-nh-nh-s-i-g-n">
              <span class="span">Chi nhánh Sài Gòn:</span>
              <span class="text-wrapper-15"> 491/7, Nguyễn Đình Chiểu, P2, Q3</span>
            </p>
            <p class="chi-nh-nh-h-n-i-s">
              <span class="span">Chi nhánh Hà Nội:</span>
              <span class="text-wrapper-15"> Số 6, Nguyễn Hy Quang, quận Đống Đa, Hà Nội</span>
            </p>
          </div>
          <div class="group-7">
            <div class="text-wrapper-16">Xử lý khiếu nại</div>
            <div class="text-wrapper-17">Bảo mật thông tin</div>
            <div class="text-wrapper-18">Chính sách hoàn tiền</div>
            <div class="CH-m-s-c-KH-CH-h-NG">CHĂM&nbsp;&nbsp;SÓC KHÁCH HÀNG</div>
            <div class="text-wrapper-19">Liên hệ hỗ trợ</div>
            <div class="text-wrapper-20">Chính sách vận chuyển</div>
            <div class="text-wrapper-21">Câu hỏi thường gặp</div>
          </div>
          <p class="b-n-TIN-ng-k-nh-n-c">
            <span class="text-wrapper-22">BẢN TIN:<br /></span>
            <span class="text-wrapper-23"
              >Đăng ký để nhận các ưu đãi độc quyền từ các thương hiệu yêu thích của chúng tôi và cập nhật tin
              tức.</span
            >
          </p>
          <img class="mithosis" src="img/mithosis.svg" />
        </div>
        <img class="v-cu-bo-thch-HOA" src="https://c.animaapp.com/xetA0JpN/img/v--c-u-b-o-th-ch-hoa-tulip--8-.png" />
        <div class="text-wrapper-24">Bó hoa hồng</div>
        <div class="text-wrapper-25">5.0 (121 Đánh giá)</div>
        <div class="text-wrapper-26">350.000 vnđ</div>
        <div class="overlap-2">
          <img class="star" src="https://c.animaapp.com/xetA0JpN/img/star-4@2x.png" />
          <img class="img" src="https://c.animaapp.com/xetA0JpN/img/star-4@2x.png" />
          <img class="star-2" src="https://c.animaapp.com/xetA0JpN/img/star-4@2x.png" />
          <img class="star-3" src="https://c.animaapp.com/xetA0JpN/img/star-4@2x.png" />
          <img class="star-4" src="https://c.animaapp.com/xetA0JpN/img/star-4@2x.png" />
        </div>
        <img
          class="v-cu-bo-thch-HOA-2"
          src="https://c.animaapp.com/xetA0JpN/img/v--c-u-b-o-th-ch-hoa-tulip--3-@2x.png"
        />
        <img
          class="HOA-dng-cm-cho"
          src="https://c.animaapp.com/xetA0JpN/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c-@2x.png"
        />
        <img
          class="v-cu-bo-thch-HOA-3"
          src="https://c.animaapp.com/xetA0JpN/img/v--c-u-b-o-th-ch-hoa-tulip--1-@2x.png"
        />
        <img
          class="v-cu-bo-thch-HOA-4"
          src="https://c.animaapp.com/xetA0JpN/img/v--c-u-b-o-th-ch-hoa-tulip--4-@2x.png"
        />
        <div class="text-wrapper-27">Mô tả</div>
        <div class="text-wrapper-28">Thông tin thêm</div>
        <div class="text-wrapper-29">Đánh giá</div>
        <p class="p">
          i love you skibidi 3000 i love you skibidi 3000 i love you skibidi 3000 i love you skibidi 3000 i love you
          skibidi 3000 i love you skibidi 3000 i love you skibidi 3000 i love you skibidi 3000 i love you skibidi 3000 i
          love you skibidi 3000 i love you skibidi 3000 i love you skibidi 3000 i love you skibidi 3000 i love you
          skibidi 3000 i love you skibidi 3000 i love you skibidi 3000
        </p>
        <div class="overlap-3">
          <img class="line" src="https://c.animaapp.com/xetA0JpN/img/line-22.svg" />
          <div class="rectangle-2"></div>
        </div>
        <p class="text-wrapper-30">
          Khám phá bộ sưu tập hoa tươi tuyệt đẹp, được chọn lọc kỹ càng để mang đến sự tinh tế và cuốn hút cho mọi không
          gian. Dù bạn muốn làm sáng bừng ngày của ai đó với một bó hoa rực rỡ hay mang lại sự gần gũi, dịu dàng cho
          ngôi nhà của mình, những bông hoa của chúng tôi luôn được lựa chọn với chất lượng và sự tươi mới tuyệt vời. Từ
          những bông hoa hồng rực rỡ đến những đoá lily thanh thoát, mỗi bó hoa là một tác phẩm nghệ thuật được thiết kế
          để tạo nên ấn tượng khó quên.
        </p>
        <div class="text-wrapper-31">Bó hoa rất hồng</div>
        <div class="text-wrapper-32">Chọn kích cỡ</div>
        <div class="text-wrapper-33">Chọn loại giỏ HOA</div>
        <div class="overlap-wrapper">
          <div class="overlap-4"><div class="text-wrapper-34">L</div></div>
        </div>
        <div class="group-8">
          <div class="overlap-5"><div class="text-wrapper-35">M</div></div>
        </div>
        <div class="group-9">
          <div class="overlap-6"><div class="text-wrapper-36">Trụ</div></div>
        </div>
        <div class="group-10">
          <div class="overlap-7"><div class="text-wrapper-37">Tròn</div></div>
        </div>
        <div class="group-11">
          <div class="overlap-8"><div class="text-wrapper-36">Thang</div></div>
        </div>
        <div class="group-12">
          <div class="overlap-6"><div class="text-wrapper-38">Cốc</div></div>
        </div>
        <div class="group-13">
          <div class="overlap-9"><div class="text-wrapper-39">Nhật</div></div>
        </div>
        <div class="group-14">
          <div class="overlap-5"><div class="text-wrapper-40">S</div></div>
        </div>
        <div class="group-15">
          <div class="overlap-5"><div class="text-wrapper-40">T</div></div>
        </div>
        <div class="group-wrapper">
          <div class="group-16">
            <img class="plus" src="https://c.animaapp.com/xetA0JpN/img/plus@2x.png" />
            <div class="text-wrapper-41">1</div>
            <img class="minus" src="https://c.animaapp.com/xetA0JpN/img/minus@2x.png" />
          </div>
        </div>
        <div class="group-17">
          <div class="overlap-10"><div class="text-wrapper-42">Add to cart</div></div>
        </div>
        <div class="heart-wrapper"><img class="heart" src="https://c.animaapp.com/xetA0JpN/img/heart@2x.png" /></div>
        <img
          class="HOA-dng-cm-cho-2"
          src="https://c.animaapp.com/xetA0JpN/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c--1@2x.png"
        />
        <img
          class="HOA-dng-cm-cho-3"
          src="https://c.animaapp.com/xetA0JpN/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c--2@2x.png"
        />
        <img
          class="HOA-dng-cm-cho-4"
          src="https://c.animaapp.com/xetA0JpN/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c--3@2x.png"
        />
        <img
          class="HOA-dng-cm-cho-5"
          src="https://c.animaapp.com/xetA0JpN/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c--4@2x.png"
        />
        <div class="group-18">
          <div class="group-19">
            <p class="text-wrapper-43">Hỗ trợ 24/7 trực tuyến</p>
            <div class="text-wrapper-44">Hỗ Trợ Trực Tuyến</div>
            <img class="headset" src="https://c.animaapp.com/xetA0JpN/img/headset@2x.png" />
          </div>
          <div class="group-20">
            <p class="text-wrapper-45">Đa dạng các phương thức thanh toán</p>
            <div class="text-wrapper-46">Giao Dịch Linh Hoạt</div>
            <img class="card-payment" src="https://c.animaapp.com/xetA0JpN/img/card-payment@2x.png" />
          </div>
          <div class="group-21">
            <p class="text-wrapper-47">Dành cho đơn tối thiểu 1 triệu</p>
            <div class="text-wrapper-48">Miễn Phí Giao Hàng</div>
            <img class="free-shipping" src="https://c.animaapp.com/xetA0JpN/img/free-shipping@2x.png" />
          </div>
        </div>
        <div class="text-wrapper-49">Trang chủ</div>
        <img class="chevron-right" src="https://c.animaapp.com/xetA0JpN/img/chevron-right-1@2x.png" />
        <img class="chevron-right-2" src="https://c.animaapp.com/xetA0JpN/img/chevron-right-1@2x.png" />
        <div class="text-wrapper-50">Cửa hàng</div>
        <div class="text-wrapper-51">Bó hoa hồng</div>
        <div class="overlap-11"><div class="text-wrapper-52">In stock</div></div>
        <div class="group-22">
          <div class="text-wrapper-53">350.000 vnđ</div>
          <div class="text-wrapper-54">Bó hoa hồng</div>
        </div>
        <div class="group-23">
          <div class="text-wrapper-53">350.000 vnđ</div>
          <div class="text-wrapper-54">Bó hoa hồng</div>
        </div>
        <div class="group-24">
          <div class="text-wrapper-53">350.000 vnđ</div>
          <div class="text-wrapper-54">Bó hoa hồng</div>
        </div>
        <div class="group-25">
          <div class="text-wrapper-53">350.000 vnđ</div>
          <div class="text-wrapper-54">Bó hoa hồng</div>
        </div>
        <div class="group-26">
          <div class="text-wrapper-53">350.000 vnđ</div>
          <div class="text-wrapper-54">Bó hoa hồng</div>
        </div>
        <div class="group-27">
          <div class="text-wrapper-53">350.000 vnđ</div>
          <div class="text-wrapper-54">Bó hoa hồng</div>
        </div>
        <div class="group-28">
          <div class="text-wrapper-53">350.000 vnđ</div>
          <div class="text-wrapper-54">Bó hoa hồng</div>
        </div>
        <div class="group-29">
          <div class="text-wrapper-53">350.000 vnđ</div>
          <div class="text-wrapper-54">Bó hoa hồng</div>
        </div>
      </div>
    </div>
  </body>
</html>
