
<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bosuutap.css' %}" />       
  </head>
  <body>
    <div class="b-SU-TP-HOA-for-all">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="group">
            <div class="overlap-group">
              <div class="div">
                <div class="group-2">
                  <p class="text-wrapper">chị Linh, nhân viên văn phòng</p>
                  <p class="p">cún Nấm - gái một con trông mòn con mắt</p>
                  <p class="text-wrapper-2">bác Đức hút 8 điếu thuốc</p>
                </div>
                <div class="group-3">
                  <p class="text-wrapper-3">cún Nấm - gái một con trông mòn con mắt</p>
                  <p class="text-wrapper-4">anh Cú da màu mực</p>
                  <p class="text-wrapper-5">chị Cúc thích mèo và trồng cây</p>
                </div>
                <div class="group-4">
                  <p class="text-wrapper-6">anh Trung thích nghe nhạc Mỹ Tâm</p>
                  <p class="text-wrapper-7">bác Hồng chồng bác Hạnh</p>
                  <p class="text-wrapper-8">bé Joe nghịch màu, cười, ôm mẹ</p>
                </div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-2">
                    <div class="overlap-group-2">
                      <img class="qun-quo-hoa-alll" src="https://c.animaapp.com/qtCOfCNx/img/-qu-n-qu-o-hoa-alll.png" />
                      <div class="text-wrapper-9">CẬU</div>
                      <div class="text-wrapper-10">TÌM</div>
                      <div class="text-wrapper-11">ĐƯỢC</div>
                      <div class="text-wrapper-12">ĐƯỢC</div>
                      <div class="text-wrapper-13">HOA</div>
                      <div class="text-wrapper-14">BÓ</div>
                      <div class="text-wrapper-15">BÓ</div>
                      <div class="text-wrapper-16">THỂ</div>
                      <div class="text-wrapper-17">HIỆN</div>
                      <div class="text-wrapper-18">‘CẬU’</div>
                      <div class="text-wrapper-19">CHƯA?</div>
                      <div class="text-wrapper-20">HOA</div>
                      <div class="text-wrapper-21">CHƯA?</div>
                    </div>
                    <div class="overlap-3">
                      <div class="text-wrapper-22">TÌM</div>
                      <div class="text-wrapper-23">ĐÃ</div>
                    </div>
                    <div class="text-wrapper-24">CẬU</div>
                  </div>
                </div>
                <img class="img" src="https://c.animaapp.com/qtCOfCNx/img/group-289.png" />
              </div>
              <div class="group-5">
                <p class="text-wrapper-25">bác Hạnh làm bác sĩ</p>
                <p class="text-wrapper-26">chị Linh, nhân viên văn phòng</p>
                <p class="text-wrapper-27">bác Đức hút 8 điếu thuốc</p>
              </div>
              <div class="group-6">
                <p class="text-wrapper-6">anh Trung thích nghe nhạc Mỹ Tâm</p>
                <p class="text-wrapper-28">anh Cú da màu mực</p>
                <p class="text-wrapper-29">chị Cúc thích mèo và trồng cây</p>
              </div>
              <div class="group-7">
                <p class="text-wrapper-30">bác Hồng chồng bác Hạnh</p>
                <p class="text-wrapper-31">bé Joe nghịch màu, cười, ôm mẹ</p>
                <p class="text-wrapper-32">bác Hạnh làm bác sĩ</p>
              </div>
              <div class="text-wrapper-33">“hoa cho tất cả”</div>
              <div class="overlap-4">
                <img class="rectangle-2" src="https://c.animaapp.com/qtCOfCNx/img/rectangle-412.png" />
                <img class="rectangle-3" src="https://c.animaapp.com/qtCOfCNx/img/rectangle-415.png" />
                <img class="rectangle-4" src="https://c.animaapp.com/qtCOfCNx/img/rectangle-411.png" />
                <img class="rectangle-5" src="https://c.animaapp.com/qtCOfCNx/img/rectangle-416.png" />
                <img class="rectangle-6" src="https://c.animaapp.com/qtCOfCNx/img/rectangle-413.png" />
                <div class="rectangle-7"></div>
                <p class="anh-c-da-m-u-m-c">anh Cú <br />da màu mực</p>
                <p class="text-wrapper-34">bác Đức hút 8 điếu thuốc</p>
                <p class="b-c-c-h-t-i-u-thu">bác Đức hút 8 <br />điếu thuốc</p>
                <p class="text-wrapper-35">chị Linh, nhân viên văn phòng</p>
                <p class="text-wrapper-36">bác Hồng chồng bác Hạnh</p>
                <div class="polygon-wrapper">
                  <img class="polygon" src="https://c.animaapp.com/qtCOfCNx/img/polygon-4.svg" />
                </div>
                <div class="div-wrapper">
                  <div class="overlap-5">
                    <img class="blob" src="https://c.animaapp.com/qtCOfCNx/img/blob-15-1.svg" />
                    <img class="polygon-2" src="https://c.animaapp.com/qtCOfCNx/img/polygon-4-1.svg" />
                  </div>
                </div>
                <img class="group-8" src="https://c.animaapp.com/qtCOfCNx/img/group-275.png" />
              </div>
            </div>
          </div>
          <div class="rectangle-8"></div>
          <div class="component">
            <div class="overlap-6">
              <div class="group-9">
                <div class="overlap-7">
                  <div class="navbar">
                    <a href="{% url 'trangchu' %}" class="text-wrapper-37">TRANG CHỦ</a>
                    <a href="{% url 'vechungto' %}" class="text-wrapper-38">VỀ BỌN TỚ</a>
                    <a class="text-wrapper-39">BỘ SƯU TẬP</a>
                    <a href="{% url 'workshop' %}" class="text-wrapper-40">WORKSHOP/EVENT</a>
                    <a href="{% url 'installation' %}" class="text-wrapper-41">BLOG</a>
                  </div>
                  <img class="HC-showcase" src="https://c.animaapp.com/qtCOfCNx/img/hc-showcase-26-1@2x.png" />
                </div>
                <div class="group-10">
                  <div class="group-11">
                    <a href="{% url 'signup' %}"  id="image-button">
                      <div class="overlap-group-3"><div class="text-wrapper-42">SIGN UP</div></div>
                    </a>
                  </div>
                  <a href="{% url 'login' %}"  id="image-button">
                    <div class="text-wrapper-43">LOGIN</div>
                  </a>
                </div>
                <div class="group-12">
                  <div class="rectangle-9"></div>
                  <a href="{% url 'giohang' %}"> <img class="basket" src="https://c.animaapp.com/qtCOfCNx/img/basket.png" /> </a>
                </div>
              </div>
              <div class="group-13"></div>
            </div>
          </div>
          <div class="component-2">
            <img class="images" src="https://c.animaapp.com/qtCOfCNx/img/images--1--2@2x.png" />
            <div class="group-14">
              <div class="text-wrapper-44">HOA club</div>
              <div class="text-wrapper-45">hoa_club.saigon</div>
              <div class="text-wrapper-46">hoa_club</div>
              <div class="text-wrapper-47">HOA club Sài Gòn</div>
              <div class="text-wrapper-48">THEO DÕI</div>
              <div class="text-wrapper-49">Hoa club</div>
            </div>
            <div class="group-15">
              <div class="text-wrapper-50">HOA CLUB</div>
              <p class="chi-nh-nh-s-i-g-n">
                <span class="span">Chi nhánh Sài Gòn:</span>
                <span class="text-wrapper-51"> 491/7, Nguyễn Đình Chiểu, P2, Q3</span>
              </p>
              <p class="chi-nh-nh-h-n-i-s">
                <span class="span">Chi nhánh Hà Nội:</span>
                <span class="text-wrapper-51"> Số 6, Nguyễn Hy Quang, quận Đống Đa, Hà Nội</span>
              </p>
            </div>
            <div class="group-16">
              <div class="text-wrapper-52">Xử lý khiếu nại</div>
              <div class="text-wrapper-53">Bảo mật thông tin</div>
              <div class="text-wrapper-54">Chính sách hoàn tiền</div>
              <div class="CH-m-s-c-KH-CH-h-NG">CHĂM&nbsp;&nbsp;SÓC KHÁCH HÀNG</div>
              <div class="text-wrapper-55">Liên hệ hỗ trợ</div>
              <div class="text-wrapper-56">Chính sách vận chuyển</div>
              <div class="text-wrapper-57">Câu hỏi thường gặp</div>
            </div>
            <p class="b-n-TIN-ng-k-nh-n-c">
              <span class="text-wrapper-58">BẢN TIN:<br /></span>
              <span class="text-wrapper-59"
                >Đăng ký để nhận các ưu đãi độc quyền từ các thương hiệu yêu thích của chúng tôi và cập nhật tin
                tức.</span
              >
            </p>
            <img class="mithosis" src="img/mithosis.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
