<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/giohang.css' %}"/>
  </head>
  <body>
    <div class="element-product-listing">
      <div class="div">
        <a href="{% url 'addtocart' %}" > <img class="v-cu-bo-thch-HOA" src="https://c.animaapp.com/h1Y5xcsu/img/v--c-u-b-o-th-ch-hoa-tulip@2x.png" /></a>
        <img
          class="HOA-dng-cm-cho"
          src="https://c.animaapp.com/h1Y5xcsu/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c-@2x.png"
        />
        <img
          class="img"
          src="https://c.animaapp.com/h1Y5xcsu/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c--1@2x.png"
        />
        <img
          class="HOA-dng-cm-cho-2"
          src="https://c.animaapp.com/h1Y5xcsu/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c--2@2x.png"
        />
        <img
          class="HOA-dng-cm-cho-3"
          src="https://c.animaapp.com/h1Y5xcsu/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c--3@2x.png"
        />
        <img
          class="HOA-dng-cm-cho-4"
          src="https://c.animaapp.com/h1Y5xcsu/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c--4@2x.png"
        />
        <img
          class="HOA-dng-cm-cho-5"
          src="https://c.animaapp.com/h1Y5xcsu/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c--5@2x.png"
        />
        <img
          class="HOA-dng-cm-cho-6"
          src="https://c.animaapp.com/h1Y5xcsu/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c--6@2x.png"
        />
        <img
          class="HOA-dng-cm-cho-7"
          src="https://c.animaapp.com/h1Y5xcsu/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c--7@2x.png"
        />
        <img
          class="v-cu-bo-thch-HOA-2"
          src="https://c.animaapp.com/h1Y5xcsu/img/v--c-u-b-o-th-ch-hoa-tulip--3-@2x.png"
        />
        <img
          class="v-cu-bo-thch-HOA-3"
          src="https://c.animaapp.com/h1Y5xcsu/img/v--c-u-b-o-th-ch-hoa-tulip--2-@2x.png"
        />
        <img
          class="HOA-dng-cm-cho-8"
          src="https://c.animaapp.com/h1Y5xcsu/img/hoa-d-ng-c-m-cho-20-10-ki-u-ph--n--th-ch--v-i-3-ki-u-d-ng---c-c--8@2x.png"
        />
        <img
          class="v-cu-bo-thch-HOA-4"
          src="https://c.animaapp.com/h1Y5xcsu/img/v--c-u-b-o-th-ch-hoa-tulip--1-@2x.png"
        />
        <img
          class="v-cu-bo-thch-HOA-5"
          src="https://c.animaapp.com/h1Y5xcsu/img/v--c-u-b-o-th-ch-hoa-tulip--4-@2x.png"
        />
        <img
          class="v-cu-bo-thch-HOA-6"
          src="https://c.animaapp.com/h1Y5xcsu/img/v--c-u-b-o-th-ch-hoa-tulip--8-@2x.png"
        />
        <p class="text-wrapper">Hiển thị 1 - 16 trong 72 kết quả</p>
        <div class="text-wrapper-2">Lọc theo mới nhất</div>
        <div class="text-wrapper-3">Các dịp tặng HOA</div>
        <div class="overlap">
          <div class="text-wrapper-4">Lọc theo giá</div>
          <div class="text-wrapper-5">Giá: 200.000 - 10.000.000</div>
        </div>
        <div class="text-wrapper-6">Chọn loại giỏ HOA</div>
        <div class="text-wrapper-7">Chọn kích cỡ</div>
        <img class="bng-cnh" src="https://c.animaapp.com/h1Y5xcsu/img/b-ng-5-c-nh.png" />
        <img class="expand-arrow" src="https://c.animaapp.com/h1Y5xcsu/img/expand-arrow@2x.png" />
        <div class="rectangle"></div>
        <div class="rectangle-2"></div>
        <div class="rectangle-3"></div>
        <div class="rectangle-4"></div>
        <div class="text-wrapper-8">Hình trụ</div>
        <div class="text-wrapper-9">Size L</div>
        <div class="text-wrapper-10">Size M</div>
        <div class="text-wrapper-11">Size S</div>
        <div class="overlap-group">
          <div class="text-wrapper-12">(21)</div>
          <div class="text-wrapper-12">(21)</div>
        </div>
        <div class="overlap-2">
          <div class="text-wrapper-12">(03)</div>
          <div class="text-wrapper-12">(03)</div>
        </div>
        <div class="overlap-3">
          <div class="text-wrapper-12">(20)</div>
          <div class="text-wrapper-12">(20)</div>
        </div>
        <div class="overlap-4">
          <div class="text-wrapper-12">(09)</div>
          <div class="text-wrapper-12">(09)</div>
        </div>
        <div class="overlap-5">
          <div class="text-wrapper-12">(07)</div>
          <div class="text-wrapper-12">(07)</div>
        </div>
        <div class="text-wrapper-13">(04)</div>
        <div class="text-wrapper-14">(20)</div>
        <div class="text-wrapper-15">(07)</div>
        <div class="text-wrapper-16">(05)</div>
        <div class="text-wrapper-17">Hình cốc</div>
        <div class="text-wrapper-18">Hình thang</div>
        <div class="text-wrapper-19">Hình chữ nhật</div>
        <div class="text-wrapper-20">Hình tròn</div>
        <div class="rectangle-5"></div>
        <div class="group">
          <p class="text-wrapper-21">Ngày Nhà giáo Việt Nam 20/11</p>
          <div class="rectangle-6"></div>
        </div>
        <div class="group-2">
          <p class="text-wrapper-21">Ngày Quốc tế Phụ nữ 8/3</p>
          <div class="rectangle-6"></div>
        </div>
        <div class="group-3">
          <div class="text-wrapper-21">Valentine 14/2</div>
          <div class="rectangle-6"></div>
        </div>
        <div class="group-4">
          <div class="text-wrapper-22">Hoa Tết</div>
          <div class="rectangle-7"></div>
        </div>
        <div class="group-5">
          <div class="text-wrapper-23">Hoa tặng Mẹ</div>
          <div class="rectangle-8"></div>
        </div>
        <div class="group-6">
          <div class="text-wrapper-24">Hoa tặng người yêu</div>
          <div class="rectangle-9"></div>
        </div>
        <div class="group-7">
          <div class="text-wrapper-25">Hoa tốt nghiệp</div>
          <div class="rectangle-10"></div>
        </div>
        <div class="group-8">
          <div class="text-wrapper-26">Hoa tặng bồ nhí</div>
          <div class="rectangle-11"></div>
        </div>
        <div class="rectangle-12"></div>
        <div class="rectangle-13"></div>
        <div class="rectangle-14"></div>
        <div class="rectangle-15"></div>
        <div class="text-wrapper-27">Size Tiny</div>
        <div class="component">
          <div class="overlap-6">
            <div class="group-9">
              <div class="overlap-7">
                <div class="navbar">
                  <a href="{% url 'trangchu' %}" class="text-wrapper-28">TRANG CHỦ</a>
                  <a href="{% url 'vechungto' %}" class="text-wrapper-29">VỀ BỌN TỚ</a>
                  <a href="{% url 'bosuutap' %}" class="text-wrapper-30">BỘ SƯU TẬP</a>
                  <a href="{% url 'workshop' %}" class="text-wrapper-31">WORKSHOP/EVENT</a>
                  <a href="{% url 'installation' %}" class="text-wrapper-32">BLOG </a>
                </div>
                <img class="HC-showcase" src="https://c.animaapp.com/h1Y5xcsu/img/hc-showcase-26-1@2x.png" />
              </div>
              <div class="group-10">
                <a href="{% url 'signup' %}"  id="image-button">
                <div class="overlap-group-wrapper">
                  <div class="div-wrapper"><div class="text-wrapper-33">SIGN UP</div></div>
                </div>
                </a>
                <a href="{% url 'login' %}"  id="image-button">
                
                <div class="text-wrapper-34">LOGIN</div>
                </a>
              </div>
              <div class="group-11">
                <div class="rectangle-16"></div>
                <img class="basket" src="https://c.animaapp.com/h1Y5xcsu/img/basket@2x.png" />
              </div>
            </div>
            <div class="group-12"></div>
          </div>
        </div>
        <img class="group-13" src="https://c.animaapp.com/h1Y5xcsu/img/group-511.png" />
        <div class="group-14">
          <div class="text-wrapper-35">350.000 vnđ</div>
          <div class="text-wrapper-36">Bó hoa hồng</div>
        </div>
        <div class="group-15">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="group-16">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="group-17">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="group-18">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="group-19">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="group-20">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="group-21">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="group-22">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="group-23">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="group-24">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="group-25">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="group-26">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="group-27">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="group-28">
          <div class="text-wrapper-37">350.000 vnđ</div>
          <div class="text-wrapper-38">Bó hoa hồng</div>
        </div>
        <div class="component-2">
          <img class="images" src="https://c.animaapp.com/h1Y5xcsu/img/images--1--2@2x.png" />
          <div class="group-29">
            <div class="text-wrapper-39">HOA club</div>
            <div class="text-wrapper-40">hoa_club.saigon</div>
            <div class="text-wrapper-41">hoa_club</div>
            <div class="text-wrapper-42">HOA club Sài Gòn</div>
            <div class="text-wrapper-43">THEO DÕI</div>
            <div class="text-wrapper-44">Hoa club</div>
          </div>
          <div class="group-30">
            <div class="text-wrapper-45">HOA CLUB</div>
            <p class="chi-nh-nh-s-i-g-n">
              <span class="span">Chi nhánh Sài Gòn:</span>
              <span class="text-wrapper-46"> 491/7, Nguyễn Đình Chiểu, P2, Q3</span>
            </p>
            <p class="chi-nh-nh-h-n-i-s">
              <span class="span">Chi nhánh Hà Nội:</span>
              <span class="text-wrapper-46"> Số 6, Nguyễn Hy Quang, quận Đống Đa, Hà Nội</span>
            </p>
          </div>
          <div class="group-31">
            <div class="text-wrapper-47">Xử lý khiếu nại</div>
            <div class="text-wrapper-48">Bảo mật thông tin</div>
            <div class="text-wrapper-49">Chính sách hoàn tiền</div>
            <div class="CH-m-s-c-KH-CH-h-NG">CHĂM&nbsp;&nbsp;SÓC KHÁCH HÀNG</div>
            <div class="text-wrapper-50">Liên hệ hỗ trợ</div>
            <div class="text-wrapper-51">Chính sách vận chuyển</div>
            <div class="text-wrapper-52">Câu hỏi thường gặp</div>
          </div>
          <p class="b-n-TIN-ng-k-nh-n-c">
            <span class="text-wrapper-53">BẢN TIN:<br /></span>
            <span class="text-wrapper-54"
              >Đăng ký để nhận các ưu đãi độc quyền từ các thương hiệu yêu thích của chúng tôi và cập nhật tin
              tức.</span
            >
          </p>
          <img class="mithosis" src="img/mithosis.svg" />
        </div>
        <div class="group-32">
          <div class="group-33">
            <p class="p">Hỗ trợ 24/7 trực tuyến</p>
            <div class="text-wrapper-55">Hỗ Trợ Trực Tuyến</div>
            <img class="headset" src="https://c.animaapp.com/h1Y5xcsu/img/headset@2x.png" />
          </div>
          <div class="group-34">
            <p class="text-wrapper-56">Đa dạng các phương thức thanh toán</p>
            <div class="text-wrapper-57">Giao Dịch Linh Hoạt</div>
            <img class="card-payment" src="https://c.animaapp.com/h1Y5xcsu/img/card-payment@2x.png" />
          </div>
          <div class="group-35">
            <p class="text-wrapper-58">Dành cho đơn tối thiểu 1 triệu</p>
            <div class="text-wrapper-59">Miễn Phí Giao Hàng</div>
            <img class="free-shipping" src="https://c.animaapp.com/h1Y5xcsu/img/free-shipping@2x.png" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
