<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/thietke.css' %}"/>
</head>
<body>
    <div class="thit-k-theo-yu-cu">
    <div class="overlap-wrapper">
        <div class="overlap">
        <div class="overlap-group">
            <div class="rectangle"></div>
            <div class="component">
              <div class="div">
                <div class="group">
                  <div class="overlap-2">
                    <div class="navbar">
                      <a href="{% url 'trangchu' %}" class="text-wrapper">TRANG CHỦ</a>
                      <a href="{% url 'vechungto' %}" class="text-wrapper-2">VỀ BỌN TỚ</a>
                      <a href="{% url 'bosuutap' %}" class="text-wrapper-3">BỘ SƯU TẬP</a>
                      <a href="{% url 'workshop' %}" class="text-wrapper-4">WORKSHOP/EVENT</a>
                      <a href="{% url 'installation' %}"  class="text-wrapper-5">BLOG</a>
                    </div>
                    <img class="HC-showcase" src="https://c.animaapp.com/sHgosTOY/img/hc-showcase-26-1@2x.png" />
                  </div>
                  <div class="group-2">
                    <div class="overlap-group-wrapper">
                      <div class="div-wrapper"><a class="text-wrapper-6" href="{% url 'login' %}"  id="image-button" >SIGN UP</a></div>

                    </div>
                    <a href="{% url 'login' %}"  id="image-button" class="text-wrapper-7">LOGIN</a>
                  </div>
                  <div class="group-3">
                    <div class="rectangle-2"></div>
                    <a href="{% url 'giohang' %}" ><img class="basket" src="https://c.animaapp.com/sHgosTOY/img/basket@2x.png" /></a>
                  </div>
                </div>
                <div class="group-4"></div>
              </div>
            </div>
            <div class="group-5">
              <div class="overlap-3">
                <img class="blob" src="https://c.animaapp.com/sHgosTOY/img/blob-11.svg" />
                <img class="img" src="https://c.animaapp.com/sHgosTOY/img/blob-12.svg" />
                <img class="blob-2" src="https://c.animaapp.com/sHgosTOY/img/blob-15.svg" />
                <img class="blob-3" src="https://c.animaapp.com/sHgosTOY/img/blob-6.svg" />
                <div class="rectangle-3"></div>
              </div>
            </div>
            <div class="group-6">
              <div class="overlap-4">
                <div class="ellipse"></div>
                <p class="THI-t-k-THEO-y-u-c-u">THIẾT KẾ THEO <br />“YÊU CẦU”</p>
              </div>
            </div>
            <p class="p">Cùng tìm bó hoa thể hiện “cậu” nào!</p>
            <img class="soft-star" src="https://c.animaapp.com/sHgosTOY/img/soft-star.svg" />
            <img class="summertime-sadness" src="https://c.animaapp.com/sHgosTOY/img/summertime-sadness.svg" />
            <img class="vector" src="{% static 'image/Vector.png' %}" />
            <p class="DESIGN-b-HOA-CHO-RI">
              <span class="span">DESIGN</span>
              <span class="text-wrapper-8">&nbsp;</span>
              <span class="text-wrapper-9">BÓ</span>
              <span class="text-wrapper-8">&nbsp;</span>
              <span class="text-wrapper-10">HOA</span>
              <span class="text-wrapper-8">&nbsp;</span>
              <span class="text-wrapper-11">CHO</span>
              <span class="text-wrapper-8">&nbsp;</span>
              <span class="text-wrapper-12">RIÊNG</span>
              <span class="text-wrapper-8">&nbsp;</span>
              <span class="text-wrapper-13">CẬU</span>
            </p>
            <img
              class="single-lined-flowers"
              src="https://c.animaapp.com/sHgosTOY/img/single-lined-flowers-svg--decal--sticker-removebg-preview-2@2x.png"
            />
            <img
              class="single-lined-flowers-2"
              src="https://c.animaapp.com/sHgosTOY/img/single-lined-flowers-svg--decal--sticker-removebg-preview-3@2x.png"
            />
            <img
              class="single-lined-flowers-3"
              src="https://c.animaapp.com/sHgosTOY/img/single-lined-flowers-svg--decal--sticker-removebg-preview--1--3@2x.png"
            />
            <img
              class="single-lined-flowers-4"
              src="https://c.animaapp.com/sHgosTOY/img/single-lined-flowers-svg--decal--sticker-removebg-preview--2--4@2x.png"
            />
            <img
              class="single-lined-flowers-5"
              src="https://c.animaapp.com/sHgosTOY/img/single-lined-flowers-svg--decal--sticker-removebg-preview--2--7@2x.png"
            />
            <img
              class="single-lined-flowers-6"
              src="https://c.animaapp.com/sHgosTOY/img/single-lined-flowers-svg--decal--sticker-removebg-preview--2--5@2x.png"
            />
            <img
              class="single-lined-flowers-7"
              src="https://c.animaapp.com/sHgosTOY/img/single-lined-flowers-svg--decal--sticker-removebg-preview--2--6@2x.png"
            />
            <div class="group-7">
              <div class="text-wrapper-14">BẬT MODE DESIGNER</div>
              <img class="switch" src="https://c.animaapp.com/sHgosTOY/img/switch.svg" />
              <img class="hoa-nhy-tng-tng" src="https://c.animaapp.com/sHgosTOY/img/hoa-nh-y-t-ng-t-ng.svg" />
            </div>
          </div>
          <div class="overlap-5">
            <div class="overlap-6">
              <a href="{% url 'giohang' %}" class="frame"><div class="text-wrapper-15">CHỐT ĐƠN NHEE</div></a> 
              <div class="overlap-7">
                <div class="group-8">
                  <div class="overlap-8">
                    <div class="rectangle-4"></div>
                    <p class="text-wrapper-16">Cậu mua hoa nhân dịp gì dạ?</p>
                  </div>
                </div>
                <img
                  class="single-lined-flowers-8"
                  src="https://c.animaapp.com/sHgosTOY/img/single-lined-flowers-svg--decal--sticker-removebg-preview-5@2x.png"
                />
                <div class="component-2">
                  <img class="images" src="https://c.animaapp.com/sHgosTOY/img/images--1--2@2x.png" />
                  <div class="group-9">
                    <div class="text-wrapper-17">HOA club</div>
                    <div class="text-wrapper-18">hoa_club.saigon</div>
                    <div class="text-wrapper-19">hoa_club</div>
                    <div class="text-wrapper-20">HOA club Sài Gòn</div>
                    <div class="text-wrapper-21">THEO DÕI</div>
                    <div class="text-wrapper-22">Hoa club</div>
                  </div>
                  <div class="group-10">
                    <div class="text-wrapper-23">HOA CLUB</div>
                    <p class="chi-nh-nh-s-i-g-n">
                      <span class="text-wrapper-24">Chi nhánh Sài Gòn:</span>
                      <span class="text-wrapper-25"> 491/7, Nguyễn Đình Chiểu, P2, Q3</span>
                    </p>
                    <p class="chi-nh-nh-h-n-i-s">
                      <span class="text-wrapper-24">Chi nhánh Hà Nội:</span>
                      <span class="text-wrapper-25"> Số 6, Nguyễn Hy Quang, quận Đống Đa, Hà Nội</span>
                    </p>
                  </div>
                  <div class="group-11">
                    <div class="text-wrapper-26">Xử lý khiếu nại</div>
                    <div class="text-wrapper-27">Bảo mật thông tin</div>
                    <div class="text-wrapper-28">Chính sách hoàn tiền</div>
                    <div class="CH-m-s-c-KH-CH-h-NG">CHĂM&nbsp;&nbsp;SÓC KHÁCH HÀNG</div>
                    <div class="text-wrapper-29">Liên hệ hỗ trợ</div>
                    <div class="text-wrapper-30">Chính sách vận chuyển</div>
                    <div class="text-wrapper-31">Câu hỏi thường gặp</div>
                  </div>
                  <p class="b-n-TIN-ng-k-nh-n-c">
                    <span class="text-wrapper-32">BẢN TIN:<br /></span>
                    <span class="text-wrapper-33"
                      >Đăng ký để nhận các ưu đãi độc quyền từ các thương hiệu yêu thích của chúng tôi và cập nhật tin
                      tức.</span
                    >
                  </p>
                  <img class="mithosis" src="img/mithosis.svg" />
                </div>
              </div>
              <div class="overlap-9">
                <img
                  class="single-lined-flowers-9"
                  src="https://c.animaapp.com/sHgosTOY/img/single-lined-flowers-svg--decal--sticker-removebg-preview--1--5@2x.png"
                />
                <img
                  class="single-lined-flowers-10"
                  src="https://c.animaapp.com/sHgosTOY/img/single-lined-flowers-svg--decal--sticker-removebg-preview--2--10@2x.png"
                />
              </div>
              <div class="group-12">
                <div class="overlap-10">
                  <div class="group-13">
                    <div class="overlap-10">
                      <div class="rectangle-5"></div>
                      <div class="rectangle-6"></div>
                      <div class="group-14">
                        <img class="ellipse-2" src="https://c.animaapp.com/sHgosTOY/img/ellipse-44.svg" />
                        <div class="frame-2"><p class="text-wrapper-34">Cậu cần tư vấn gì thêm hong nè?</p></div>
                      </div>
                      <div class="group-15">
                        <img class="ellipse-3" src="https://c.animaapp.com/sHgosTOY/img/ellipse-45.svg" />
                        <div class="frame-wrapper">
                          <div class="c-u-c-m-u-tham-kh-o-wrapper">
                            <p class="c-u-c-m-u-tham-kh-o">Cậu có mẫu tham khảo cho <br />bó hoa của cậu hong?</p>
                          </div>
                        </div>
                      </div>
                      <div class="group-16">
                        <img class="ellipse-4" src="https://c.animaapp.com/sHgosTOY/img/ellipse-47.svg" />
                        <div class="overlap-group-2"><div class="text-wrapper-35">...</div></div>
                      </div>
                      <img class="line" src="https://c.animaapp.com/sHgosTOY/img/line-21.png" />
                    </div>
                  </div>
                  <img class="multiply" src="https://c.animaapp.com/sHgosTOY/img/multiply@2x.png" />
                </div>
              </div>
            </div>
            <div class="group-17">
              <div class="overlap-11">
                <div class="rectangle-7"></div>
                <p class="text-wrapper-36">Cậu thích bó hoa có màu nào chủ đạo?</p>
              </div>
            </div>
            <div class="group-18">
              <div class="overlap-12">
                <div class="rectangle-8"></div>
                <p class="text-wrapper-37">Cậu thích bó hoa có loại hoa nào chủ đạo nè?</p>
              </div>
            </div>
          </div>
          <div class="overlap-13">
            <div class="group-19">
              <div class="group-20">
                <div class="group-21">
                  <div class="group-22">
                    <div class="overlap-group-3">
                      <div class="rectangle-9"></div>
                      <img class="rectangle-10" src="https://c.animaapp.com/sHgosTOY/img/rectangle-213@2x.png" />
                    </div>
                  </div>
                  <div class="group-23">
                    <div class="overlap-14">
                      <div class="frame-3"><div class="text-wrapper-38">Hội hoa</div></div>
                      <div class="frame-4"><div class="text-wrapper-39">MẠNH MẼ</div></div>
                    </div>
                  </div>
                </div>
                <div class="group-24">
                  <div class="group-wrapper">
                    <div class="group-25">
                      <div class="overlap-group-4">
                        <img class="union" src="https://c.animaapp.com/sHgosTOY/img/union.svg" />
                        <img class="union-2" src="https://c.animaapp.com/sHgosTOY/img/union-1@2x.png" />
                      </div>
                    </div>
                  </div>
                  <div class="group-26">
                    <div class="overlap-14">
                      <div class="frame-5"><div class="text-wrapper-38">Hội hoa</div></div>
                      <div class="frame-4"><div class="text-wrapper-40">CÁ TÍNH</div></div>
                    </div>
                  </div>
                </div>
                <div class="group-27">
                  <div class="group-28">
                    <div class="overlap-group-5">
                      <img class="union-3" src="https://c.animaapp.com/sHgosTOY/img/union-2.svg" />
                      <img class="union-4" src="https://c.animaapp.com/sHgosTOY/img/union-3@2x.png" />
                    </div>
                  </div>
                  <div class="group-29">
                    <div class="overlap-14">
                      <div class="frame-6"><div class="text-wrapper-38">Hội hoa</div></div>
                      <div class="frame-4"><div class="text-wrapper-41">TRẦM TÍNH</div></div>
                    </div>
                  </div>
                </div>
                <div class="group-30">
                  <div class="overlap-15">
                    <div class="group-31">
                      <div class="overlap-group-6">
                        <img class="polygon" src="https://c.animaapp.com/sHgosTOY/img/polygon-2.svg" />
                        <img class="polygon-2" src="https://c.animaapp.com/sHgosTOY/img/polygon-1@2x.png" />
                      </div>
                    </div>
                    <div class="group-32">
                      <div class="overlap-14">
                        <div class="frame-7"><div class="text-wrapper-38">Hội hoa</div></div>
                        <div class="frame-4"><div class="text-wrapper-42">NHẸ NHÀNG</div></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="group-33">
                  <div class="group-34">
                    <div class="overlap-group-7">
                      <img class="union-5" src="https://c.animaapp.com/sHgosTOY/img/union-4.svg" />
                      <img class="union-6" src="https://c.animaapp.com/sHgosTOY/img/union-5@2x.png" />
                    </div>
                  </div>
                  <div class="group-35">
                    <div class="overlap-14">
                      <div class="frame-8"><div class="text-wrapper-38">Hội hoa</div></div>
                      <div class="frame-4"><div class="text-wrapper-43">DUI TÍNH</div></div>
                    </div>
                  </div>
                </div>
              </div>
              <p class="text-wrapper-44">Cậu muốn hoa có vibe như nào ta?</p>
            </div>
            <img
              class="single-lined-flowers-11"
              src="https://c.animaapp.com/sHgosTOY/img/single-lined-flowers-svg--decal--sticker-removebg-preview-4@2x.png"
            />
            <div class="group-36">
              <div class="overlap-16">
                <img
                  class="single-lined-flowers-12"
                  src="https://c.animaapp.com/sHgosTOY/img/single-lined-flowers-svg--decal--sticker-removebg-preview--2--11@2x.png"
                />
                <div class="rectangle-11"></div>
                <div class="group-37">
                  <div class="group-38">
                    <div class="group-39">
                      <div class="overlap-group-8">
                        <div class="rectangle-12"></div>
                        <img class="rectangle-13" src="https://c.animaapp.com/sHgosTOY/img/rectangle-213-2@2x.png" />
                      </div>
                    </div>
                    <div class="group-40">
                      <div class="frame-9"><div class="text-wrapper-45">SIZE L</div></div>
                    </div>
                  </div>
                  <div class="group-41">
                    <div class="group-39">
                      <div class="overlap-group-8">
                        <img class="union-7" src="https://c.animaapp.com/sHgosTOY/img/union-12.svg" />
                        <img class="union-8" src="https://c.animaapp.com/sHgosTOY/img/union-13@2x.png" />
                      </div>
                    </div>
                    <div class="group-42">
                      <div class="frame-9"><div class="text-wrapper-45">SIZE M</div></div>
                    </div>
                  </div>
                  <div class="group-43">
                    <div class="overlap-17">
                      <div class="group-44">
                        <div class="overlap-group-9">
                          <img class="polygon-3" src="https://c.animaapp.com/sHgosTOY/img/polygon-2-2.svg" />
                          <img class="polygon-4" src="https://c.animaapp.com/sHgosTOY/img/polygon-1-2@2x.png" />
                        </div>
                      </div>
                      <div class="group-45">
                        <div class="frame-9"><div class="text-wrapper-45">SIZE S</div></div>
                      </div>
                    </div>
                  </div>
                  <div class="group-46">
                    <div class="group-47">
                      <div class="overlap-group-10">
                        <img class="union-9" src="https://c.animaapp.com/sHgosTOY/img/union-14.svg" />
                        <img class="union-10" src="https://c.animaapp.com/sHgosTOY/img/union-15@2x.png" />
                      </div>
                    </div>
                    <div class="group-48">
                      <div class="frame-9"><div class="text-wrapper-45">SIZE TINY</div></div>
                    </div>
                  </div>
                </div>
                <img
                  class="single-lined-flowers-13"
                  src="https://c.animaapp.com/sHgosTOY/img/single-lined-flowers-svg--decal--sticker-removebg-preview--2--9@2x.png"
                />
                <img class="star" src="https://c.animaapp.com/sHgosTOY/img/star-18.svg" />
                <img class="star-2" src="https://c.animaapp.com/sHgosTOY/img/star-19.svg" />
                <div class="group-49">
                  <p class="text-wrapper-46">Cậu muốn bó hoa to cỡ nào?</p>
                  <img class="hoa-nhy-tng-tng-2" src="https://c.animaapp.com/sHgosTOY/img/hoa-nh-y-t-ng-t-ng-1.svg" />
                  <img class="bng-do" src="https://c.animaapp.com/sHgosTOY/img/b-ng-d-o.svg" />
                  <img class="bng-quo" src="https://c.animaapp.com/sHgosTOY/img/b-ng-qu-o.svg" />
                  <img class="u-x" src="https://c.animaapp.com/sHgosTOY/img/--u-x-@2x.png" />
                  <img class="hoa-nhy-tng-tng-3" src="https://c.animaapp.com/sHgosTOY/img/hoa-nh-y-t-ng-t-ng-2.svg" />
                  <img class="bng-quo-2" src="https://c.animaapp.com/sHgosTOY/img/b-ng-qu-o-1.svg" />
                  <img class="vector-2" src="https://c.animaapp.com/sHgosTOY/img/vector-1.svg" />
                  <img class="hoa-nhy-tng-tng-4" src="https://c.animaapp.com/sHgosTOY/img/hoa-nh-y-t-ng-t-ng-3.svg" />
                  <img class="bng-quo-3" src="https://c.animaapp.com/sHgosTOY/img/b-ng-qu-o-2.svg" />
                  <img class="u-x-2" src="https://c.animaapp.com/sHgosTOY/img/--u-x--1@2x.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="group-50">
            <div class="group-51">
              <div class="group-52">
                <div class="group-53">
                  <div class="overlap-group-11">
                    <div class="frame-10"><div class="text-wrapper-38">Giỏ hoa</div></div>
                    <div class="frame-11"><div class="text-wrapper-40">HÌNH TRỤ</div></div>
                  </div>
                </div>
                <div class="group-54">
                  <div class="union-wrapper">
                    <img class="union-11" src="https://c.animaapp.com/sHgosTOY/img/union-7@2x.png" />
                  </div>
                </div>
              </div>
              <div class="overlap-18">
                <div class="group-55">
                  <div class="group-56">
                    <div class="overlap-group-11">
                      <div class="frame-12"><div class="text-wrapper-38">Hộp hoa</div></div>
                      <div class="frame-11"><div class="text-wrapper-43">HÌNH CHỮ NHẬT</div></div>
                    </div>
                  </div>
                  <div class="rectangle-wrapper">
                    <img class="rectangle-14" src="https://c.animaapp.com/sHgosTOY/img/rectangle-213-1@2x.png" />
                  </div>
                </div>
                <div class="group-57">
                  <div class="group-58">
                    <div class="overlap-group-11">
                      <div class="frame-13"><div class="text-wrapper-38">Hộp hoa</div></div>
                      <div class="frame-11"><div class="text-wrapper-42">HÌNH TRỤ</div></div>
                    </div>
                  </div>
                  <img class="group-59" src="https://c.animaapp.com/sHgosTOY/img/group-449@2x.png" />
                </div>
              </div>
              <div class="group-60">
                <div class="group-61">
                  <div class="overlap-group-11">
                    <div class="frame-14"><div class="text-wrapper-38">Giỏ hoa</div></div>
                    <div class="frame-11"><div class="text-wrapper-39">HÌNH THANG</div></div>
                  </div>
                </div>
                <div class="group-62">
                  <div class="img-wrapper">
                    <img class="union-12" src="https://c.animaapp.com/sHgosTOY/img/union-9@2x.png" />
                  </div>
                </div>
              </div>
              <div class="group-63">
                <div class="overlap-19">
                  <div class="group-64">
                    <div class="overlap-group-11">
                      <div class="frame-15"><div class="text-wrapper-38">Giỏ hoa</div></div>
                      <div class="frame-11"><div class="text-wrapper-41">HÌNH CỐC</div></div>
                    </div>
                  </div>
                  <div class="group-65">
                    <div class="group-66">
                      <div class="polygon-wrapper">
                        <img class="polygon-5" src="https://c.animaapp.com/sHgosTOY/img/polygon-1-1@2x.png" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="group-67">
                <div class="group-68">
                  <div class="overlap-group-11">
                    <div class="frame-16"><div class="text-wrapper-38">Giỏ hoa</div></div>
                    <div class="frame-11"><div class="text-wrapper-40">HÌNH TRÒN</div></div>
                  </div>
                </div>
                <div class="group-69">
                  <div class="group-70">
                    <div class="group-71">
                      <img class="union-13" src="https://c.animaapp.com/sHgosTOY/img/union-11@2x.png" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-wrapper-47">Cậu muốn đựng hoa trong bình nào nè?</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
