<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/trangchu.css' %}"/>
  </head>
  <body>
    <div class="homepage">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="rectangle"></div>
          <div class="group"><img class="nh-intro" src="https://c.animaapp.com/hF9WWMOu/img/-nh-intro.png" /></div>
          <img class="union" src="https://c.animaapp.com/hF9WWMOu/img/union.svg" />
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="rectangle-5"></div>
          <div class="rectangle-6"></div>
          <div class="rectangle-7"></div>
          <div class="rectangle-8"></div>
          <div class="text-wrapper">BÌNH LUẬN NHẬN XÉT</div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group"><div class="text-wrapper-2">MÀU SẮC</div></div>
          </div>
          <img class="summertime-sadness" src="https://c.animaapp.com/hF9WWMOu/img/summertime-sadness.svg" />
          <div class="LO-i-HOA">LOẠI<br />HOA</div>
          <img class="cloud" src="https://c.animaapp.com/hF9WWMOu/img/cloud.svg" />
          <div class="v-t-CH-a">VẬT<br />CHỨA</div>
          <a href="{% url 'thietke' %}"  id="image-button"> <div class="frame"><p class="p">DÔ ĐÂY ĐỂ LÀM DESIGNER NÈE</p></div> </a>
          <div class="rectangle-9"></div>
          <div class="group-2">
            <img class="img" src="https://c.animaapp.com/hF9WWMOu/img/group-198@2x.png" />
            <div class="overlap-2">
              <img
                class="images-removebg"
                src="https://c.animaapp.com/hF9WWMOu/img/images--1--removebg-preview-1@2x.png"
              />
              <div class="div-wrapper"><div class="text-wrapper-3">X</div></div>
            </div>
          </div>
          <p class="HOA-t-trong-tr-ng">
            &nbsp;&nbsp;HOA từ trong trứng<br />&nbsp;&nbsp;HOA nghịch<br />&nbsp;&nbsp;HOA điên<br />&nbsp;&nbsp;HOA
            sâu<br />“cậu là ai”
          </p>
          <div class="text-wrapper-4">“CẬU LÀ AI”</div>
          <div class="FLOWER-EXHIBITION">&nbsp;&nbsp;FLOWER EXHIBITION</div>
          <a href="{% url 'vechungto' %}"  id="image-button"> <div class="frame-2"><div class="text-wrapper-5"> DÔ THAM QUAN NHEEE</div></div></a>
          <div class="frame-3">
            <img class="cinema" src="https://c.animaapp.com/hF9WWMOu/img/cinema@2x.png" />
            <p class="text-wrapper-6">XEM NÀY COI ƯNG HONG NÈE</p>
          </div>
          <img class="hoa-nhy-tng-tng" src="https://c.animaapp.com/hF9WWMOu/img/hoa-nh-y-t-ng-t-ng.svg" />
          <img class="bng-do" src="https://c.animaapp.com/hF9WWMOu/img/b-ng-d-o.svg" />
          <img class="bng-quo" src="https://c.animaapp.com/hF9WWMOu/img/b-ng-qu-o.svg" />
          <img class="u-x" src="https://c.animaapp.com/hF9WWMOu/img/--u-x-@2x.png" />
          <img class="hoa-nhy-tng-tng-2" src="https://c.animaapp.com/hF9WWMOu/img/hoa-nh-y-t-ng-t-ng-1.svg" />
          <img class="bng-do-2" src="https://c.animaapp.com/hF9WWMOu/img/b-ng-d-o-1.svg" />
          <img class="bng-quo-2" src="https://c.animaapp.com/hF9WWMOu/img/b-ng-qu-o-1.svg" />
          <img class="star" src="https://c.animaapp.com/hF9WWMOu/img/star-2.svg" />
          <img class="star-2" src="https://c.animaapp.com/hF9WWMOu/img/star-19.svg" />
          <img class="star-3" src="https://c.animaapp.com/hF9WWMOu/img/star-20.svg" />
          <img class="star-4" src="https://c.animaapp.com/hF9WWMOu/img/star-21.svg" />
          <img class="star-5" src="https://c.animaapp.com/hF9WWMOu/img/star-22.svg" />
          <img class="u-x-2" src="https://c.animaapp.com/hF9WWMOu/img/--u-x--1@2x.png" />
          <img class="star-6" src="https://c.animaapp.com/hF9WWMOu/img/star-16.svg" />
          <img class="star-7" src="https://c.animaapp.com/hF9WWMOu/img/star-17.svg" />
          <img class="blob" src="https://c.animaapp.com/hF9WWMOu/img/blob-6.svg" />
          <div class="i-l-i-m-n-n-i">“Đôi lời mún nói&#34;</div>
          <p class="text-wrapper-7">
            Bọn tớ là một club bán hoa ở Hà Nội và Sài Gòn hoạt động từ tháng 5 năm 2022 đến nay. Mục đích của bọn tớ là
            muốn hướng đến các bạn trẻ GenZ và mọi lứa tuổi khác theo cách của bọn tớ
          </p>
          <div class="group-3">
            <div class="overlap-3">
              <div class="rectangle-10"></div>
              <div class="text-wrapper-8">ề</div>
            </div>
            <div class="overlap-4">
              <div class="rectangle-11"></div>
              <div class="text-wrapper-9">ọ</div>
            </div>
            <div class="overlap-5">
              <div class="rectangle-12"></div>
              <div class="text-wrapper-10">ớ</div>
            </div>
            <div class="overlap-6">
              <div class="overlap-7">
                <div class="overlap-8">
                  <div class="rectangle-13"></div>
                  <div class="text-wrapper-11">M</div>
                </div>
                <div class="text-wrapper-12">ụ</div>
              </div>
              <div class="text-wrapper-13">t</div>
            </div>
            <div class="overlap-9">
              <div class="overlap-10">
                <div class="rectangle-14"></div>
                <div class="text-wrapper-14">c</div>
              </div>
              <div class="text-wrapper-15">h</div>
            </div>
            <div class="overlap-11">
              <div class="overlap-12">
                <div class="rectangle-15"></div>
                <div class="text-wrapper-16">ú</div>
              </div>
              <div class="text-wrapper-17">t</div>
            </div>
            <div class="text-wrapper-18">t</div>
            <div class="text-wrapper-19">n</div>
            <div class="text-wrapper-20">b</div>
            <div class="text-wrapper-21">v</div>
            <img class="flower" src="https://c.animaapp.com/hF9WWMOu/img/flower.svg" />
            <img class="flower-2" src="https://c.animaapp.com/hF9WWMOu/img/flower-1.svg" />
          </div>
          <img class="flower-3" src="https://c.animaapp.com/hF9WWMOu/img/flower-2.svg" />
          <img class="blob-2" src="https://c.animaapp.com/hF9WWMOu/img/blob-9.svg" />
          <img class="group-4" src="https://c.animaapp.com/hF9WWMOu/img/group-264@2x.png" />
          <img class="blob-3" src="https://c.animaapp.com/hF9WWMOu/img/blob-9-1@2x.png" />
          <img class="group-5" src="https://c.animaapp.com/hF9WWMOu/img/group-219.png" />
          <img class="subtract" src="https://c.animaapp.com/hF9WWMOu/img/subtract.svg" />
          <img class="frame-4" src="https://c.animaapp.com/hF9WWMOu/img/frame.svg" />
          <img class="frame-5" src="https://c.animaapp.com/hF9WWMOu/img/frame-1.svg" />
          <img class="hoa-nhy-tng-tng-3" src="https://c.animaapp.com/hF9WWMOu/img/hoa-nh-y-t-ng-t-ng-2.svg" />
          <img class="hoa-nhy-tng-tng-4" src="https://c.animaapp.com/hF9WWMOu/img/hoa-nh-y-t-ng-t-ng-3.svg" />
          <img class="hoa-nhy-tng-tng-5" src="https://c.animaapp.com/hF9WWMOu/img/hoa-nh-y-t-ng-t-ng-4.svg" />
          <img class="hoa-nhy-tng-tng-6" src="https://c.animaapp.com/hF9WWMOu/img/hoa-nh-y-t-ng-t-ng-5.svg" />
          <img class="hoa-nhy-tng-tng-7" src="https://c.animaapp.com/hF9WWMOu/img/hoa-nh-y-t-ng-t-ng-6.png" />
          <div class="hoa-theo-c-c-m-a-l">Hoa theo các<br />MÙA LỄ</div>
          <img class="image" src="https://c.animaapp.com/hF9WWMOu/img/image-39@2x.png" />
          <img class="image-2" src="https://c.animaapp.com/hF9WWMOu/img/image-44.png" />
          <img class="image-3" src="https://c.animaapp.com/hF9WWMOu/img/image-40@2x.png" />
          <img class="group-6" src="https://c.animaapp.com/hF9WWMOu/img/group-573.png" />
          <div class="group-7">
            <div class="overlap-13">
              <img class="rectangle-16" src="https://c.animaapp.com/hF9WWMOu/img/rectangle-204@2x.png" />
              <img class="image-4" src="https://c.animaapp.com/hF9WWMOu/img/image-47@2x.png" />
              <div class="group-wrapper">
                <div class="image-wrapper">
                  <img class="image-5" src="https://c.animaapp.com/hF9WWMOu/img/image-14@2x.png" />
                </div>
              </div>
            </div>
            <div class="overlap-14">
              <p class="ch-b-n-HOA-ch-i-t-t">&nbsp;&nbsp;“chợ bán HOA chơi Tết”</p>
              <p class="qu-c-t-ph-n-vi-t-nam">&nbsp;&nbsp;“quốc tế Phụ nữ Việt Nam”</p>
            </div>
            <div class="text-wrapper-22">“quốc tế thiếu nhi”</div>
            <img class="direction" src="https://c.animaapp.com/hF9WWMOu/img/direction.svg" />
            <img class="direction-2" src="https://c.animaapp.com/hF9WWMOu/img/direction-1.svg" />
          </div>
          <img class="mithosis" src="https://c.animaapp.com/hF9WWMOu/img/mithosis.svg" />
          <div class="text-wrapper-23">PHONG CÁCH</div>
          <div class="group-8">
            <div class="group-9">
              <div class="group-10">
                <div class="group-11"><div class="text-wrapper-24">KÍCH THƯỚC</div></div>
              </div>
            </div>
          </div>
          <div class="group-12">
            <div class="d-p-l-wrapper">
              <div class="d-p-l">DỊP <br />LỄ</div>
            </div>
          </div>
          <img class="heart" src="https://c.animaapp.com/hF9WWMOu/img/heart-2.svg" />
          <p class="text-wrapper-25">THIẾT KẾ THEO “YÊU CẦU”</p>
          <div class="ellipse"></div>
          <img class="star-8" src="https://c.animaapp.com/hF9WWMOu/img/star-18.svg" />
          <div class="group-13">
            <div class="group-14">
              <div class="overlap-group-2">
                <img class="union-2" src="https://c.animaapp.com/hF9WWMOu/img/union-1.svg" />
                <img class="union-3" src="https://c.animaapp.com/hF9WWMOu/img/union-2@2x.png" />
              </div>
            </div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap-15">
              <img class="polygon" src="https://c.animaapp.com/hF9WWMOu/img/polygon-2.svg" />
              <img class="polygon-2" src="https://c.animaapp.com/hF9WWMOu/img/polygon-1@2x.png" />
            </div>
          </div>
          <div class="group-15">
            <div class="overlap-16">
              <img class="union-4" src="https://c.animaapp.com/hF9WWMOu/img/union-3.svg" />
              <img class="union-5" src="https://c.animaapp.com/hF9WWMOu/img/union-4@2x.png" />
            </div>
          </div>
          <div class="group-16">
            <div class="overlap-17">
              <img class="union-6" src="https://c.animaapp.com/hF9WWMOu/img/union-5.svg" />
              <img class="union-7" src="https://c.animaapp.com/hF9WWMOu/img/union-6@2x.png" />
            </div>
          </div>
          <div class="group-17">
            <div class="overlap-18">
              <div class="rectangle-17"></div>
              <img class="rectangle-18" src="https://c.animaapp.com/hF9WWMOu/img/rectangle-213@2x.png" />
            </div>
          </div>
          <div class="group-18">
            <div class="overlap-19">
              <div class="frame-6"><div class="text-wrapper-26">Hội hoa</div></div>
              <div class="frame-7"><div class="text-wrapper-27">DUI TÍNH</div></div>
            </div>
          </div>
          <div class="group-19">
            <div class="overlap-20">
              <div class="frame-8"><div class="text-wrapper-28">Hội hoa</div></div>
              <div class="frame-9"><div class="text-wrapper-29">MẠNH MẼ</div></div>
            </div>
          </div>
          <div class="group-20">
            <div class="overlap-20">
              <div class="frame-10"><div class="text-wrapper-28">Hội hoa</div></div>
              <div class="frame-9"><div class="text-wrapper-30">CÁ TÍNH</div></div>
            </div>
          </div>
          <div class="group-21">
            <div class="overlap-20">
              <div class="frame-11"><div class="text-wrapper-28">Hội hoa</div></div>
              <div class="frame-9"><div class="text-wrapper-31">TRẦM TÍNH</div></div>
            </div>
          </div>
          <div class="group-22">
            <div class="overlap-20">
              <div class="frame-12"><div class="text-wrapper-28">Hội hoa</div></div>
              <div class="frame-9"><div class="text-wrapper-32">NHẸ NHÀNG</div></div>
            </div>
          </div>
          <a href="{% url 'giohang' %}"  id="image-button"> <div class="XEM-TH-m-y-NHEE-wrapper"><p class="XEM-TH-m-y-NHEE">XEM THÊM Ở ĐÂY NHEE &gt;&gt;&gt;</p></div> </a>
          <img class="group-23" src="https://c.animaapp.com/hF9WWMOu/img/group-288@2x.png" />
          <div class="group-24">
            <div class="group-25">
              <img
                class="snapedit"
                src="https://c.animaapp.com/hF9WWMOu/img/snapedit-1719849284773-removebg-preview-21@2x.png"
              />
              <img
                class="snapedit-2"
                src="https://c.animaapp.com/hF9WWMOu/img/snapedit-1719849284773-removebg-preview-22@2x.png"
              />
            </div>
          </div>
          <img class="group-26" src="https://c.animaapp.com/hF9WWMOu/img/group-191.png" />
          <div class="group-27">
            <div class="group-28">
              <img
                class="snapedit-3"
                src="https://c.animaapp.com/hF9WWMOu/img/snapedit-1719849284773-removebg-preview-25@2x.png"
              />
              <img
                class="snapedit-4"
                src="https://c.animaapp.com/hF9WWMOu/img/snapedit-1719849284773-removebg-preview-26@2x.png"
              />
            </div>
          </div>
          <img class="group-29" src="https://c.animaapp.com/hF9WWMOu/img/group-251@2x.png" />
          <img class="flower-4" src="https://c.animaapp.com/hF9WWMOu/img/flower-3.svg" />
          <img class="flower-5" src="https://c.animaapp.com/hF9WWMOu/img/flower-4.svg" />
          <img class="flower-6" src="https://c.animaapp.com/hF9WWMOu/img/flower-5.svg" />
          <img class="group-30" src="https://c.animaapp.com/hF9WWMOu/img/group-252@2x.png" />
          <div class="group-31">
            <div class="group-32">
              <img
                class="snapedit-5"
                src="https://c.animaapp.com/hF9WWMOu/img/snapedit-1719849284773-removebg-preview-21-1@2x.png"
              />
              <img
                class="snapedit-6"
                src="https://c.animaapp.com/hF9WWMOu/img/snapedit-1719849284773-removebg-preview-22-1@2x.png"
              />
            </div>
          </div>
          <div class="group-33">
            <div class="overlap-21">
              <img
                class="snapedit-7"
                src="https://c.animaapp.com/hF9WWMOu/img/snapedit-1721194631767-removebg-preview-1@2x.png"
              />
              <img class="union-8" src="https://c.animaapp.com/hF9WWMOu/img/union-7.svg" />
              <p class="h"><span class="span">H</span> <span class="text-wrapper-33">í</span></p>
            </div>
          </div>
          <div class="rectangle-19"></div>
          <div class="frame-13">
            <img class="rectangle-20" src="https://c.animaapp.com/hF9WWMOu/img/rectangle-188@2x.png" />
            <div class="text-wrapper-34">Chị Trương Quỳnh</div>
            <p class="text-wrapper-35">
              “Mình khá ưng ý khi mua hoa tiện hơn, phát triển hơn. Mua hoa khoảng 5 lần thì cả 5 lần hoa đều rất đẹp,
              tươi, cách trang trí hoa tinh tế, nhìn rất sang trọng.”
            </p>
          </div>
          <div class="frame-14">
            <img class="rectangle-21" src="https://c.animaapp.com/hF9WWMOu/img/rectangle-188-1@2x.png" />
            <div class="text-wrapper-34">Phạm Kim Ngân</div>
            <p class="text-wrapper-36">
              “Hoa rất đẹp, trang trí tinh tế, có cả tấm thiệp nhỏ xinh nữa, mình rất bất ngờ và cảm động.”
            </p>
          </div>
          <div class="frame-15">
            <img class="rectangle-21" src="https://c.animaapp.com/hF9WWMOu/img/rectangle-188-2@2x.png" />
            <div class="text-wrapper-34">Thùy Duyên</div>
            <p class="text-wrapper-37">
              “Khi nhận hoa thì màu sắc hoa không tươi lắm nhưng bù lại trang trí rất đẹp, nhìn rất tinh tế và sang
              trọng.”
            </p>
          </div>
          <img class="group-34" src="https://c.animaapp.com/hF9WWMOu/img/group-256.png" />
          <img class="group-35" src="https://c.animaapp.com/hF9WWMOu/img/group-271.png" />
          <div class="group-36">
            <div class="overlap-22">
              <img class="star-9" src="https://c.animaapp.com/hF9WWMOu/img/star-20-1.svg" />
              <img class="star-10" src="https://c.animaapp.com/hF9WWMOu/img/star-4.svg" />
              <div class="NG-g-i-b-n-t-l-ti-m-wrapper">
                <p class="NG-g-i-b-n-t-l-ti-m">
                  ĐỪNG <br />gọi bọn tớ là<br />tiệm<br />...<br />HÃY<br />gọi bọn tớ là<br />HOA
                </p>
              </div>
            </div>
          </div>
          <img class="group-37" src="https://c.animaapp.com/hF9WWMOu/img/group-574.png" />
          <div class="text-wrapper-38">BỘ SƯU TẬP</div>
          <div class="header-homepage">
            <img class="images" src="https://c.animaapp.com/hF9WWMOu/img/images--1--2@2x.png" />
            <div class="group-38">
              <div class="text-wrapper-39">HOA club</div>
              <div class="text-wrapper-40">hoa_club.saigon</div>
              <div class="text-wrapper-41">hoa_club</div>
              <div class="text-wrapper-42">HOA club Sài Gòn</div>
              <div class="text-wrapper-43">THEO DÕI</div>
              <div class="text-wrapper-44">Hoa club</div>
            </div>
            <div class="group-39">
              <div class="text-wrapper-45">HOA CLUB</div>
              <p class="chi-nh-nh-s-i-g-n">
                <span class="text-wrapper-46">Chi nhánh Sài Gòn:</span>
                <span class="text-wrapper-47"> 491/7, Nguyễn Đình Chiểu, P2, Q3</span>
              </p>
              <p class="chi-nh-nh-h-n-i-s">
                <span class="text-wrapper-46">Chi nhánh Hà Nội:</span>
                <span class="text-wrapper-47"> Số 6, Nguyễn Hy Quang, quận Đống Đa, Hà Nội</span>
              </p>
            </div>
            <div class="group-40">
              <div class="text-wrapper-48">Xử lý khiếu nại</div>
              <div class="text-wrapper-49">Bảo mật thông tin</div>
              <div class="text-wrapper-50">Chính sách hoàn tiền</div>
              <div class="CH-m-s-c-KH-CH-h-NG">CHĂM&nbsp;&nbsp;SÓC KHÁCH HÀNG</div>
              <div class="text-wrapper-51">Liên hệ hỗ trợ</div>
              <div class="text-wrapper-52">Chính sách vận chuyển</div>
              <div class="text-wrapper-53">Câu hỏi thường gặp</div>
            </div>
            <p class="b-n-TIN-ng-k-nh-n-c">
              <span class="text-wrapper-54">BẢN TIN:<br /></span>
              <span class="text-wrapper-55"
                >Đăng ký để nhận các ưu đãi độc quyền từ các thương hiệu yêu thích của chúng tôi và cập nhật tin
                tức.</span
              >
            </p>
            <img class="mithosis-2" src="img/mithosis.svg" />
          </div>
          <div class="header-homepage-2">
            <div class="overlap-23">
              <div class="group-41">
                <div class="overlap-24">
                  <div class="navbar">
                    <a class="text-wrapper-56">TRANG CHỦ</a>
                    <a href="{% url 'vechungto' %}" class="text-wrapper-57">VỀ BỌN TỚ</a>
                    <a href="{% url 'bosuutap' %}" class="text-wrapper-58">BỘ SƯU TẬP</a>
                    <a href="{% url 'workshop' %}" class="text-wrapper-59">WORKSHOP/EVENT</a>
                    <a href="{% url 'installation' %}" class="text-wrapper-60">BLOG</a>
                </div>
                  <img class="HC-showcase" src="https://c.animaapp.com/hF9WWMOu/img/hc-showcase-26-1@2x.png" />
                </div>
                <div class="group-42">
                  <div class="group-43">
                    <div class="SIGN-UP-wrapper">
                      <a href="{% url 'signup' %}"  id="image-button">
                        <img class="SIGN-UP" src="https://c.animaapp.com/hF9WWMOu/img/sign-up.png" />
                      </a>
                    </div>
                </div>
                <a href="{% url 'login' %}"  id="image-button">
                  <img class="LOGIN" src="https://c.animaapp.com/hF9WWMOu/img/login.png" alt="Login Button">
                </a>
                </div>
                <a href="{% url 'giohang' %}" ><img class="group-44" src="https://c.animaapp.com/hF9WWMOu/img/group-227.png" /></a>
            </div>
              <div class="group-45"></div>
            </div>
          </div>
          <img class="group-46" src="https://c.animaapp.com/hF9WWMOu/img/group-237@2x.png" />
          <img class="bng-cnh" src="https://c.animaapp.com/hF9WWMOu/img/b-ng-5-c-nh.svg" />
          <img class="group-47" src="https://c.animaapp.com/hF9WWMOu/img/group-235@2x.png" />
          <img class="flower-7" src="https://c.animaapp.com/hF9WWMOu/img/flower-6.svg" />
          <img class="bng-stick" src="https://c.animaapp.com/hF9WWMOu/img/b-ng-stick.svg" />
          <img class="group-48" src="https://c.animaapp.com/hF9WWMOu/img/group-234@2x.png" />
          <img class="bng-w" src="https://c.animaapp.com/hF9WWMOu/img/b-ng-w@2x.png" />
          <img class="group-49" src="https://c.animaapp.com/hF9WWMOu/img/group-232@2x.png" />
          <img class="flower-8" src="https://c.animaapp.com/hF9WWMOu/img/flower-7.svg" />
          <img class="bng-cnh-2" src="https://c.animaapp.com/hF9WWMOu/img/b-ng-5-c-nh-1.svg" />
          <img class="group-50" src="https://c.animaapp.com/hF9WWMOu/img/group-229.png" />
          <img class="flower-9" src="https://c.animaapp.com/hF9WWMOu/img/flower-8.svg" />
          <img class="frame-16" src="https://c.animaapp.com/hF9WWMOu/img/frame-2.svg" />
          <img class="frame-17" src="https://c.animaapp.com/hF9WWMOu/img/frame-3.svg" />
          <img class="bng-cnh-3" src="https://c.animaapp.com/hF9WWMOu/img/b-ng-4-c-nh.svg" />
          <div class="group-51">
            <a class="text-wrapper-61">BẬT MODE DESIGNER</a>
            <img class="switch" src="https://c.animaapp.com/hF9WWMOu/img/switch.svg" />
            <img class="hoa-nhy-tng-tng-8" src="https://c.animaapp.com/hF9WWMOu/img/hoa-nh-y-t-ng-t-ng-10.svg" />
          </div>
          <img class="group-52" src="https://c.animaapp.com/hF9WWMOu/img/group-580@2x.png" />
        </div>
        <div class="rectangle-22"></div>
        <img class="rectangle-23" src="img/rectangle-203.svg" />
      </div>
    </div>
  </body>
</html>
