<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vechungto.css' %}"/>
  </head>
  <body>
    <div class="v-CHNG-TI">
      <div class="div">
        <div class="overlap">
          <img class="HC-showcase" src="https://c.animaapp.com/5yulsf5R/img/hc-showcase-18-1@2x.png" />
          <img class="img" src="https://c.animaapp.com/5yulsf5R/img/hc-showcase-10-2@2x.png" />
          <div class="group">
            <div class="overlap-group">
              <div class="group-2">
                <div class="overlap-2">
                  <div class="overlap-3">
                    <img class="heart" src="https://c.animaapp.com/5yulsf5R/img/heart-2.svg" />
                    <img class="flower" src="https://c.animaapp.com/5yulsf5R/img/flower.png" />
                    <img class="flower-2" src="https://c.animaapp.com/5yulsf5R/img/flower-1.png" />
                    <img class="flower-3" src="https://c.animaapp.com/5yulsf5R/img/flower-2.png" />
                    <img class="group-3" src="https://c.animaapp.com/5yulsf5R/img/group-275.png" />
                    <img class="group-4" src="https://c.animaapp.com/5yulsf5R/img/group-289.png" />
                    <p class="t-i-sao-c-u-t-ng-hoa">
                      <span class="text-wrapper">Tại sao </span>
                      <span class="span">cậu</span>
                      <span class="text-wrapper"> tặng </span>
                      <span class="span">hoa</span>
                      <span class="text-wrapper"> cho </span>
                      <span class="text-wrapper-2">mẹ</span>
                      <span class="text-wrapper"> vào </span>
                      <span class="text-wrapper-3">ngày</span>
                      <span class="text-wrapper"> của </span>
                      <span class="text-wrapper-2">mẹ</span>
                      <span class="text-wrapper">?</span>
                    </p>
                    <p class="l-b-i-v-c-u-mu-n-n-i">
                      <span class="text-wrapper">Đó là bởi vì </span>
                      <span class="span">cậu</span>
                      <span class="text-wrapper"> muốn nói với </span>
                      <span class="text-wrapper-2">họ</span>
                      <span class="text-wrapper">&nbsp;</span>
                      <span class="text-wrapper-4">điều gì đó</span>
                    </p>
                    <p class="t-i-sao-c-u-l-i-t-ng">
                      <span class="text-wrapper">Tại sao </span>
                      <span class="span">cậu</span>
                      <span class="text-wrapper"> lại tặng </span>
                      <span class="span">hoa</span>
                      <span class="text-wrapper"> cho </span>
                      <span class="text-wrapper-2">người yêu</span>
                      <span class="text-wrapper"> vào </span>
                      <span class="text-wrapper-3">ngày</span>
                      <span class="text-wrapper">&nbsp;</span>
                      <span class="text-wrapper-3">sinh nhật</span>
                      <span class="text-wrapper"> của </span>
                      <span class="text-wrapper-2">cô ấy</span>
                      <span class="text-wrapper">?</span>
                    </p>
                    <div class="group-5">
                      <div class="overlap-group-2">
                        <p class="nh-tinh-th-n-s-ng-t">
                          <span class="text-wrapper-5"
                            >Nhờ tinh thần sáng tạo của khách hàng, tụi tui đã có khoảng thời gian tuyệt vời khi thực
                            hiện dự án này. Quá trình thiết kế đã tạo ra rất nhiều cảm hứng cho tụi tui, giúp mỗi bó hoa
                            của
                          </span>
                          <span class="text-wrapper-4">HOA Club</span>
                          <span class="text-wrapper-5"> trở nên độc đáo và dễ tiếp cận hơn với mọi người.</span>
                        </p>
                        <p class="ng-i-ta-d-ng-hoa-b-y">
                          <span class="text-wrapper-5"
                            >Người ta dùng hoa để bày tỏ cảm xúc của mình. Đối với một sốp hoa như
                          </span>
                          <span class="text-wrapper-4">HOA Club</span>
                          <span class="text-wrapper-5"
                            >, sứ mệnh này quan trọng hơn bao giờ hết - tụi tui muốn ngày càng có nhiều người nói ngôn
                            ngữ này mỗi ngày. Đó không chỉ là ngôn ngữ để giao tiếp với người khác mà còn là cách thể
                            hiện bản thân.</span
                          >
                        </p>
                        <div class="overlap-4">
                          <p class="trong-khi-t-h-i-nh">
                            <span class="text-wrapper-5"
                              >Trong khi tự hỏi những cách khác mà mọi người thường thể hiện cảm xúc hoặc tính cách của
                              mình là gì, tụi tuii nghĩ ngay đến biểu tượng cảm xúc. Kể từ khi biểu tượng cảm xúc xuất
                              hiện, nó đã vượt qua tất cả các ngôn ngữ để trở thành ngôn ngữ phổ biến nhất. Với cảm hứng
                              này, tụi tui quyết định tạo ra một kiểu chữ tùy chỉnh cho
                            </span>
                            <span class="text-wrapper-4">HOA Club</span>
                            <span class="text-wrapper-5">
                              làm ngôn ngữ riêng của tụi tui để dễ dàng giao tiếp với khách hàng. <br />
                              <br /><br
                            /></span>
                          </p>
                          <p class="v-i-t-nh-linh-ho-t-c">
                            <span class="text-wrapper-5"
                              >Với tính linh hoạt của một thương hiệu như thế này, việc tạo ra một kiểu logo là điều
                              đương nhiên. Được đặt ở trung tâm mọi việc
                            </span>
                            <span class="text-wrapper-4">HOA Club</span>
                            <span class="text-wrapper-5">
                              làm, “bông hoa” có thể tự do thay đổi mà không cần bất kỳ quy tắc nào.
                            </span>
                            <span class="text-wrapper-4">HOA Club</span>
                            <span class="text-wrapper-5">
                              tin rằng dù cậu là ai, làm gì, ý tưởng của cậu có khùm đến đâu thì tụi tui cũng sẽ có thứ
                              dành cho cậu.</span
                            >
                          </p>
                        </div>
                      </div>
                      <img class="bng-quo" src="https://c.animaapp.com/5yulsf5R/img/b-ng-qu-o.svg" />
                      <img class="bng-do" src="https://c.animaapp.com/5yulsf5R/img/b-ng-d-o.svg" />
                      <img class="u-x" src="https://c.animaapp.com/5yulsf5R/img/--u-x-@2x.png" />
                      <img class="hoa-nhy-tng-tng" src="https://c.animaapp.com/5yulsf5R/img/hoa-nh-y-t-ng-t-ng.svg" />
                    </div>
                  </div>
                  <p class="HOA-n-i-ng-n-l-i">
                    <span class="text-wrapper-6">HOA </span>
                    <span class="text-wrapper-7">nói</span>
                    <span class="text-wrapper-6">&nbsp;</span>
                    <span class="text-wrapper-8">ngàn</span>
                    <span class="text-wrapper-6">&nbsp;</span>
                    <span class="text-wrapper-9">lời</span>
                  </p>
                </div>
                <div class="overlap-5">
                  <img class="blob" src="https://c.animaapp.com/5yulsf5R/img/blob-8.png" />
                  <img class="blob" src="https://c.animaapp.com/5yulsf5R/img/blob-8.png" />
                  <img class="blob-2" src="https://c.animaapp.com/5yulsf5R/img/blob-7.svg" />
                  <img class="blob-3" src="https://c.animaapp.com/5yulsf5R/img/blob-9.svg" />
                </div>
              </div>
              <div class="footer-vechungtoi">
                <img class="images" src="https://c.animaapp.com/5yulsf5R/img/images--1--2@2x.png" />
                <div class="group-6">
                  <div class="text-wrapper-10">HOA club</div>
                  <div class="text-wrapper-11">hoa_club.saigon</div>
                  <div class="text-wrapper-12">hoa_club</div>
                  <div class="text-wrapper-13">HOA club Sài Gòn</div>
                  <div class="text-wrapper-14">THEO DÕI</div>
                  <div class="text-wrapper-15">Hoa club</div>
                </div>
                <div class="group-7">
                  <div class="text-wrapper-16">HOA CLUB</div>
                  <p class="chi-nh-nh-s-i-g-n">
                    <span class="text-wrapper-17">Chi nhánh Sài Gòn:</span>
                    <span class="text-wrapper-18"> 491/7, Nguyễn Đình Chiểu, P2, Q3</span>
                  </p>
                  <p class="chi-nh-nh-h-n-i-s">
                    <span class="text-wrapper-17">Chi nhánh Hà Nội:</span>
                    <span class="text-wrapper-18"> Số 6, Nguyễn Hy Quang, quận Đống Đa, Hà Nội</span>
                  </p>
                </div>
                <div class="group-8">
                  <div class="text-wrapper-19">Xử lý khiếu nại</div>
                  <div class="text-wrapper-20">Bảo mật thông tin</div>
                  <div class="text-wrapper-21">Chính sách hoàn tiền</div>
                  <div class="CH-m-s-c-KH-CH-h-NG">CHĂM&nbsp;&nbsp;SÓC KHÁCH HÀNG</div>
                  <div class="text-wrapper-22">Liên hệ hỗ trợ</div>
                  <div class="text-wrapper-23">Chính sách vận chuyển</div>
                  <div class="text-wrapper-24">Câu hỏi thường gặp</div>
                </div>
                <p class="b-n-TIN-ng-k-nh-n-c">
                  <span class="text-wrapper-25">BẢN TIN:<br /></span>
                  <span class="text-wrapper-26"
                    >Đăng ký để nhận các ưu đãi độc quyền từ các thương hiệu yêu thích của chúng tôi và cập nhật tin
                    tức.</span
                  >
                </p>
                <img class="mithosis" src="img/mithosis.svg" />
              </div>
            </div>
          </div>
          <img class="group-9" src="https://c.animaapp.com/5yulsf5R/img/group-525.png" />
        </div>
        <div class="header-vechungtoi">
          <div class="overlap-6">
            <div class="group-10">
              <div class="overlap-7">
                <div class="navbar">
                  <a href="{% url 'trangchu' %}" class="text-wrapper-27">TRANG CHỦ</a>
                  <a  class="text-wrapper-28">VỀ BỌN TỚ</a>
                  <a href="{% url 'bosuutap' %}" class="text-wrapper-29">BỘ SƯU TẬP</a>
                  <a href="{% url 'workshop' %}" class="text-wrapper-30">WORKSHOP/EVENT</a>
                  <a href="{% url 'installation' %}" class="text-wrapper-31">BLOG</a>
                </div>
                <img class="HC-showcase-2" src="https://c.animaapp.com/5yulsf5R/img/hc-showcase-26-1@2x.png" />
              </div>
              <div class="group-11">
                <div class="overlap-group-wrapper">
                  <a href="{% url 'signup' %}" id="image-button">
                    <div class="div-wrapper"><div class="text-wrapper-32">SIGN UP</div></div>
                  </a>
                </div>
                <a href="{% url 'login' %}" id="image-button">
                  <div class="text-wrapper-33">LOGIN</div>
                </a>
              </div>
              <div class="group-12">
                <div class="rectangle"></div>
                <a href="{% url 'giohang' %}"> <img class="basket" src="https://c.animaapp.com/5yulsf5R/img/basket@2x.png" /> </a>
              </div>
            </div>
            <div class="group-13"></div>
          </div>
        </div>
      </div>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="alert {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

  </body>
</html>
