<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'css/workshop.css' %}"/>
  </head>
  <body>
    <div class="workshop-event">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="rectangle"></div>
          <img class="blob" src="https://c.animaapp.com/g3CZEndQ/img/blob-15.png" />
          <div class="group">
            <div class="overlap-group">
              <div class="div">
                <img class="img" src="https://c.animaapp.com/g3CZEndQ/img/blob-15-1.png" />
                <img class="blob-2" src="https://c.animaapp.com/g3CZEndQ/img/blob-19.svg" />
                <img class="blob-3" src="https://c.animaapp.com/g3CZEndQ/img/blob-20.svg" />
                <div class="group-2">
                  <div class="overlap-group-2">
                    <div class="text-wrapper">c</div>
                    <div class="text-wrapper-2">“</div>
                    <div class="text-wrapper-3">ậ</div>
                    <div class="text-wrapper-4">u</div>
                    <div class="text-wrapper-5">l</div>
                    <div class="text-wrapper-6">i</div>
                    <div class="text-wrapper-7">à</div>
                    <div class="text-wrapper-8">a</div>
                  </div>
                  <div class="text-wrapper-9">”</div>
                </div>
                <div class="text-wrapper-10">triển lãm</div>
                <p class="p">trải nghiệm tham quan nghệ thuật</p>
                <div class="rectangle-2"></div>
                <div class="rectangle-3"></div>
                <p class="text-wrapper-11">4 TRẢI NGHIỆM ĐẦU: FREE</p>
                <p class="text-wrapper-12">TRẢI NGHIỆM GIAI ĐOẠN 5: 190.000 VND</p>
                <div class="group-3">
                  <img class="group-4" src="https://c.animaapp.com/g3CZEndQ/img/group-198@2x.png" />
                  <div class="overlap-2">
                    <img
                      class="images-removebg"
                      src="https://c.animaapp.com/g3CZEndQ/img/images--1--removebg-preview-1@2x.png"
                    />
                    <div class="frame"><div class="text-wrapper-13">X</div></div>
                  </div>
                </div>
                <img class="flower" src="https://c.animaapp.com/g3CZEndQ/img/flower-2.svg" />
                <img class="flower" src="https://c.animaapp.com/g3CZEndQ/img/flower-2.svg" />
                <img class="flower-2" src="https://c.animaapp.com/g3CZEndQ/img/flower-3.svg" />
                <img class="flower-3" src="https://c.animaapp.com/g3CZEndQ/img/flower-7.svg" />
                <img class="flower-4" src="https://c.animaapp.com/g3CZEndQ/img/flower-8.svg" />
                <img class="flower-5" src="https://c.animaapp.com/g3CZEndQ/img/flower-9.svg" />
                <img class="flower-6" src="https://c.animaapp.com/g3CZEndQ/img/flower-10.svg" />
                <img class="flower-7" src="https://c.animaapp.com/g3CZEndQ/img/flower-11.svg" />
                <img class="flower-8" src="https://c.animaapp.com/g3CZEndQ/img/flower-12.svg" />
                <img class="flower-9" src="https://c.animaapp.com/g3CZEndQ/img/flower-13.svg" />
                <img class="flower-10" src="https://c.animaapp.com/g3CZEndQ/img/flower-14.svg" />
                <img class="flower-11" src="https://c.animaapp.com/g3CZEndQ/img/flower-15.svg" />
                <img class="flower-12" src="https://c.animaapp.com/g3CZEndQ/img/flower-16.svg" />
                <img class="flower-13" src="https://c.animaapp.com/g3CZEndQ/img/flower-17.svg" />
                <img class="flower-14" src="https://c.animaapp.com/g3CZEndQ/img/flower-18.svg" />
                <img class="flower-15" src="https://c.animaapp.com/g3CZEndQ/img/flower-19.svg" />
              </div>
              <div class="group-5">
                <div class="text-wrapper-14">18.03</div>
                <div class="text-wrapper-15">02.04</div>
                <div class="text-wrapper-16">từ</div>
                <div class="text-wrapper-17">đến</div>
              </div>
              <div class="group-6">
                <div class="text-wrapper-18">10:00</div>
                <div class="text-wrapper-19">18:00</div>
                <div class="text-wrapper-20">mở cửa từ</div>
              </div>
              <div class="group-7">
                <div class="text-wrapper-21">tại</div>
                <div class="text-wrapper-22">TÁCH SPACES</div>
                <p class="text-wrapper-23">20 HAI BÀ TRƯNG, HOÀN KIẾM</p>
              </div>
              <p class="text-wrapper-24">(trải nghiệm tự tạo và có 1 sản phẩm HOA mang về, 1 đồ uống của TÁCH)</p>
            </div>
            <div class="overlap-3">
              <div class="overlap-4">
                <div class="overlap-5">
                  <p class="c-u-l-ai-tr-i-nghi-m">
                    <span class="span">“cậu là ai”</span>
                    <span class="text-wrapper-25"> - trải nghiệm </span>
                    <span class="text-wrapper-26">HOA club</span>
                    <span class="text-wrapper-25"> xây dựng trong không gian </span>
                    <span class="text-wrapper-27">TÁCH SPACES</span>
                    <span class="text-wrapper-25"> để cậu tìm </span>
                    <span class="text-wrapper-28">“bọn tớ là ai”</span>
                    <span class="text-wrapper-25"> và </span>
                    <span class="text-wrapper-29">“cậu là ai”</span>
                  </p>
                  <img class="group-8" src="https://c.animaapp.com/g3CZEndQ/img/group-491.png" />
                  <div class="text-wrapper-30">trong</div>
                  <div class="text-wrapper-31">trứng</div>
                </div>
                <div class="overlap-6">
                  <p class="text-wrapper-32">HOA club x TÁCH SPACES</p>
                  <img class="blob-4" src="https://c.animaapp.com/g3CZEndQ/img/blob-15-2.svg" />
                  <img class="blob-5" src="https://c.animaapp.com/g3CZEndQ/img/blob-16.png" />
                  <div class="text-wrapper-33">HOA</div>
                </div>
                <p class="text-wrapper-34">
                  4 giai đoạn đầu cậu tìm “bọn tớ là ai” - cậu hiểu HOA club theo cách của cậu, thông qua sắp đặt và âm
                  thanh tại từng giai đoạn
                </p>
                <div class="overlap-7">
                  <img class="flower-16" src="https://c.animaapp.com/g3CZEndQ/img/flower-5.svg" />
                  <img class="flower-17" src="https://c.animaapp.com/g3CZEndQ/img/flower-6.svg" />
                </div>
                <div class="overlap-8">
                  <div class="text-wrapper-35">HOA</div>
                  <div class="text-wrapper-36">điên</div>
                </div>
                <div class="text-wrapper-37">nghịch</div>
                <div class="text-wrapper-38">HOA</div>
                <div class="text-wrapper-39">HOA</div>
                <div class="text-wrapper-40">từ</div>
              </div>
              <div class="text-wrapper-41">“cậu</div>
              <div class="text-wrapper-42">sâu</div>
            </div>
            <p class="text-wrapper-43">
              để đến giai đoạn số 5 - sau khi trải nghiệm “bọn tớ là ai” thì cậu được trải nghiệm “cậu là ai” - bằng
              cách tự tạo sản phẩm HOA mang tính cá nhân của cậu
            </p>
            <div class="overlap-group-wrapper">
              <div class="overlap-9">
                <p class="text-wrapper-44">Cậu nhớ đến chơi, và cần hỗ trợ nhớ ới</p>
                <img class="flower-18" src="https://c.animaapp.com/g3CZEndQ/img/flower.svg" />
              </div>
            </div>
            <img class="image" src="https://c.animaapp.com/g3CZEndQ/img/image-89@2x.png" />
            <img class="image-2" src="https://c.animaapp.com/g3CZEndQ/img/image-86@2x.png" />
            <img class="image-3" src="https://c.animaapp.com/g3CZEndQ/img/image-87@2x.png" />
            <img class="image-4" src="https://c.animaapp.com/g3CZEndQ/img/image-80@2x.png" />
            <img class="image-5" src="https://c.animaapp.com/g3CZEndQ/img/image-79@2x.png" />
            <img class="image-6" src="https://c.animaapp.com/g3CZEndQ/img/image-85@2x.png" />
            <img class="image-7" src="https://c.animaapp.com/g3CZEndQ/img/image-81@2x.png" />
            <div class="overlap-10">
              <img class="door" src="https://c.animaapp.com/g3CZEndQ/img/door.svg" />
              <img class="door-2" src="https://c.animaapp.com/g3CZEndQ/img/door-5@2x.png" />
              <img class="door-3" src="https://c.animaapp.com/g3CZEndQ/img/door-11.svg" />
              <div class="rectangle-4"></div>
              <div class="text-wrapper-45">HOA nghịch</div>
            </div>
            <div class="overlap-11">
              <img class="door-4" src="https://c.animaapp.com/g3CZEndQ/img/door-1.svg" />
              <img class="door-5" src="https://c.animaapp.com/g3CZEndQ/img/door-6@2x.png" />
              <img class="door-6" src="https://c.animaapp.com/g3CZEndQ/img/door-12.svg" />
              <div class="rectangle-5"></div>
              <div class="text-wrapper-46">HOA điên</div>
            </div>
            <div class="overlap-12">
              <img class="door-7" src="https://c.animaapp.com/g3CZEndQ/img/door-7@2x.png" />
              <img class="door-8" src="https://c.animaapp.com/g3CZEndQ/img/door-13.svg" />
              <div class="rectangle-6"></div>
              <div class="text-wrapper-47">HOA sâu</div>
            </div>
            <div class="overlap-13">
              <div class="overlap-14">
                <img class="door-9" src="https://c.animaapp.com/g3CZEndQ/img/door-3.svg" />
                <img class="door-10" src="https://c.animaapp.com/g3CZEndQ/img/door-4@2x.png" />
                <img class="door-11" src="https://c.animaapp.com/g3CZEndQ/img/door-14.svg" />
                <div class="rectangle-7"></div>
                <div class="text-wrapper-48">“cậu là ai”</div>
                <div class="text-wrapper-49">ai”</div>
              </div>
              <div class="text-wrapper-50">là</div>
            </div>
            <img class="image-8" src="https://c.animaapp.com/g3CZEndQ/img/image-92@2x.png" />
            <img class="image-9" src="https://c.animaapp.com/g3CZEndQ/img/image-86@2x.png" />
            <img class="image-10" src="https://c.animaapp.com/g3CZEndQ/img/image-87@2x.png" />
            <img class="image-11" src="https://c.animaapp.com/g3CZEndQ/img/image-88@2x.png" />
            <img class="image-12" src="https://c.animaapp.com/g3CZEndQ/img/image-89@2x.png" />
            <img class="image-13" src="https://c.animaapp.com/g3CZEndQ/img/image-90@2x.png" />
            <img class="image-14" src="https://c.animaapp.com/g3CZEndQ/img/image-91@2x.png" />
            <img class="image-15" src="https://c.animaapp.com/g3CZEndQ/img/image-92@2x.png" />
            <img class="image-16" src="https://c.animaapp.com/g3CZEndQ/img/image-107@2x.png" />
            <div class="overlap-15">
              <img class="door-12" src="https://c.animaapp.com/g3CZEndQ/img/door-9@2x.png" />
              <img class="door-13" src="https://c.animaapp.com/g3CZEndQ/img/door-10.svg" />
              <div class="rectangle-8"></div>
              <div class="text-wrapper-51">HOA từ trong trứng</div>
            </div>
            <img class="image-17" src="https://c.animaapp.com/g3CZEndQ/img/image-94@2x.png" />
            <img class="image-18" src="https://c.animaapp.com/g3CZEndQ/img/image-95@2x.png" />
            <img class="image-19" src="https://c.animaapp.com/g3CZEndQ/img/image-96@2x.png" />
            <img class="image-20" src="https://c.animaapp.com/g3CZEndQ/img/image-97@2x.png" />
            <img class="image-21" src="https://c.animaapp.com/g3CZEndQ/img/image-98@2x.png" />
            <img class="image-22" src="https://c.animaapp.com/g3CZEndQ/img/image-99@2x.png" />
            <img class="image-23" src="https://c.animaapp.com/g3CZEndQ/img/image-100@2x.png" />
            <img class="image-24" src="https://c.animaapp.com/g3CZEndQ/img/image-101@2x.png" />
            <img class="image-25" src="https://c.animaapp.com/g3CZEndQ/img/image-102@2x.png" />
            <img class="image-26" src="https://c.animaapp.com/g3CZEndQ/img/image-103@2x.png" />
            <img class="image-27" src="https://c.animaapp.com/g3CZEndQ/img/image-104@2x.png" />
            <img class="image-28" src="https://c.animaapp.com/g3CZEndQ/img/image-105@2x.png" />
            <img class="image-29" src="https://c.animaapp.com/g3CZEndQ/img/image-106@2x.png" />
            <img class="image-30" src="https://c.animaapp.com/g3CZEndQ/img/image-107@2x.png" />
            <img class="image-31" src="https://c.animaapp.com/g3CZEndQ/img/image-108@2x.png" />
            <img class="image-32" src="https://c.animaapp.com/g3CZEndQ/img/image-109@2x.png" />
          </div>
          <div class="component">
            <img class="images" src="https://c.animaapp.com/g3CZEndQ/img/images--1--2@2x.png" />
            <div class="group-9">
              <div class="text-wrapper-52">HOA club</div>
              <div class="text-wrapper-53">hoa_club.saigon</div>
              <div class="text-wrapper-54">hoa_club</div>
              <div class="text-wrapper-55">HOA club Sài Gòn</div>
              <div class="text-wrapper-56">THEO DÕI</div>
              <div class="text-wrapper-57">Hoa club</div>
            </div>
            <div class="group-10">
              <div class="text-wrapper-58">HOA CLUB</div>
              <p class="chi-nh-nh-s-i-g-n">
                <span class="text-wrapper-59">Chi nhánh Sài Gòn:</span>
                <span class="text-wrapper-60"> 491/7, Nguyễn Đình Chiểu, P2, Q3</span>
              </p>
              <p class="chi-nh-nh-h-n-i-s">
                <span class="text-wrapper-59">Chi nhánh Hà Nội:</span>
                <span class="text-wrapper-60"> Số 6, Nguyễn Hy Quang, quận Đống Đa, Hà Nội</span>
              </p>
            </div>
            <div class="group-11">
              <div class="text-wrapper-61">Xử lý khiếu nại</div>
              <div class="text-wrapper-62">Bảo mật thông tin</div>
              <div class="text-wrapper-63">Chính sách hoàn tiền</div>
              <div class="CH-m-s-c-KH-CH-h-NG">CHĂM&nbsp;&nbsp;SÓC KHÁCH HÀNG</div>
              <div class="text-wrapper-64">Liên hệ hỗ trợ</div>
              <div class="text-wrapper-65">Chính sách vận chuyển</div>
              <div class="text-wrapper-66">Câu hỏi thường gặp</div>
            </div>
            <p class="b-n-TIN-ng-k-nh-n-c">
              <span class="text-wrapper-67">BẢN TIN:<br /></span>
              <span class="text-wrapper-68"
                >Đăng ký để nhận các ưu đãi độc quyền từ các thương hiệu yêu thích của chúng tôi và cập nhật tin
                tức.</span
              >
            </p>
            <img class="mithosis" src="img/mithosis.svg" />
          </div>
          <div class="div-wrapper">
            <div class="overlap-16">
              <div class="group-12">
                <div class="overlap-17">
                  <div class="navbar">
                    <a href="{% url 'trangchu' %}" class="text-wrapper-69">TRANG CHỦ</a>
                    <a href="{% url 'vechungto' %}" class="text-wrapper-70">VỀ BỌN TỚ</a>
                    <a href="{% url 'bosuutap' %}" class="text-wrapper-71">BỘ SƯU TẬP</a>
                    <a class="text-wrapper-72">WORKSHOP/EVENT</a>
                    <a href="{% url 'installation' %}" class="text-wrapper-73">BLOG</a>
                  </div>
                  <img class="HC-showcase" src="https://c.animaapp.com/g3CZEndQ/img/hc-showcase-26-1@2x.png" />
                </div>
                <div class="group-13">
                  <a href="{% url 'signup' %}"  id="image-button">
                    <div class="group-14">
                      <div class="overlap-group-3"><div class="text-wrapper-74">SIGN UP</div></div>
                    </div>
                  </a>
                  <a href="{% url 'login' %}"  id="image-button">
                    <div class="text-wrapper-75">LOGIN</div>
                  </a>
                </div>
                <div class="group-15">
                  <div class="rectangle-9"></div>
                  <a href="{% url 'giohang' %}"> <img class="basket" src="https://c.animaapp.com/g3CZEndQ/img/basket@2x.png" /> </a>
                </div>
              </div>
              <div class="group-16"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
