:root {
    --dng-kh: rgba(241, 206, 82, 1);
    --xanh-nc-bn: rgba(36, 57, 116, 1);
    --xanh-thin-nhin: rgba(43, 100, 58, 1);
    --cam-chy: rgba(229, 106, 52, 1);
    --pink-sn-sa: rgba(214, 45, 99, 1);
    --tm-mng-mer: rgba(98, 35, 99, 1);
    --xm-thi-ni: rgba(35, 31, 32, 1);
    --en-75: rgba(35, 31, 32, 0.75);
    --en-50: rgba(35, 31, 32, 0.5);
    --en-25: rgba(35, 31, 32, 0.25);
    --en-10: rgba(35, 31, 32, 0.1);
    --en-5: rgba(35, 31, 32, 0.05);
    --hong-trng-lm: rgba(255, 255, 255, 1);
    --trng-75: rgba(255, 255, 255, 0.75);
    --trng-50: rgba(255, 255, 255, 0.5);
    --trng-25: rgba(255, 255, 255, 0.25);
    --trng-10: rgba(255, 255, 255, 0.1);
    --trng-5: rgba(255, 255, 255, 0.05);
    --h1-font-family: "Montserrat Alternates", Helvetica;
    --h1-font-weight: 700;
    --h1-font-size: 69px;
    --h1-letter-spacing: 0px;
    --h1-line-height: 120.00000476837158%;
    --h1-font-style: normal;
    --h2-font-family: "Montserrat Alternates", Helvetica;
    --h2-font-weight: 700;
    --h2-font-size: 55px;
    --h2-letter-spacing: 0px;
    --h2-line-height: 120.00000476837158%;
    --h2-font-style: normal;
    --h3-font-family: "Montserrat Alternates", Helvetica;
    --h3-font-weight: 700;
    --h3-font-size: 44px;
    --h3-letter-spacing: 0px;
    --h3-line-height: 120.00000476837158%;
    --h3-font-style: normal;
    --h4-font-family: "Montserrat Alternates", Helvetica;
    --h4-font-weight: 700;
    --h4-font-size: 35px;
    --h4-letter-spacing: 0px;
    --h4-line-height: 120.00000476837158%;
    --h4-font-style: normal;
    --h5-font-family: "Montserrat Alternates", Helvetica;
    --h5-font-weight: 700;
    --h5-font-size: 28px;
    --h5-letter-spacing: 0px;
    --h5-line-height: 120.00000476837158%;
    --h5-font-style: normal;
    --h6-font-family: "Montserrat Alternates", Helvetica;
    --h6-font-weight: 700;
    --h6-font-size: 23px;
    --h6-letter-spacing: 0px;
    --h6-line-height: 120.00000476837158%;
    --h6-font-style: normal;
    --body-font-family: "Montserrat Alternates", Helvetica;
    --body-font-weight: 400;
    --body-font-size: 18px;
    --body-letter-spacing: 0px;
    --body-line-height: 20px;
    --body-font-style: normal;
    --button-font-family: "Montserrat Alternates", Helvetica;
    --button-font-weight: 700;
    --button-font-size: 14px;
    --button-letter-spacing: 0px;
    --button-line-height: 120.00000476837158%;
    --button-font-style: normal;
    --caption-font-family: "Montserrat Alternates", Helvetica;
    --caption-font-weight: 400;
    --caption-font-size: 12px;
    --caption-letter-spacing: 0px;
    --caption-line-height: 120.00000476837158%;
    --caption-font-style: normal;
    --h1-mobile-font-family: "Montserrat Alternates", Helvetica;
    --h1-mobile-font-weight: 700;
    --h1-mobile-font-size: 25px;
    --h1-mobile-letter-spacing: 0px;
    --h1-mobile-line-height: 120.00000476837158%;
    --h1-mobile-font-style: normal;
    --h2-mobile-font-family: "Montserrat Alternates", Helvetica;
    --h2-mobile-font-weight: 700;
    --h2-mobile-font-size: 23px;
    --h2-mobile-letter-spacing: 0px;
    --h2-mobile-line-height: 120.00000476837158%;
    --h2-mobile-font-style: normal;
    --h3-mobile-font-family: "Montserrat Alternates", Helvetica;
    --h3-mobile-font-weight: 700;
    --h3-mobile-font-size: 14px;
    --h3-mobile-letter-spacing: 0px;
    --h3-mobile-line-height: 120.00000476837158%;
    --h3-mobile-font-style: normal;
    --h4-mobile-font-family: "Montserrat Alternates", Helvetica;
    --h4-mobile-font-weight: 700;
    --h4-mobile-font-size: 12px;
    --h4-mobile-letter-spacing: 0px;
    --h4-mobile-line-height: 120.00000476837158%;
    --h4-mobile-font-style: normal;
    --body-mobile-font-family: "Montserrat Alternates", Helvetica;
    --body-mobile-font-weight: 400;
    --body-mobile-font-size: 10px;
    --body-mobile-letter-spacing: 0px;
    --body-mobile-line-height: 120.00000476837158%;
    --body-mobile-font-style: normal;
    --caption-mobile-font-family: "Montserrat Alternates", Helvetica;
    --caption-mobile-font-weight: 400;
    --caption-mobile-font-size: 8px;
    --caption-mobile-letter-spacing: 0px;
    --caption-mobile-line-height: 9px;
    --caption-mobile-font-style: normal;
    --button-mobile-font-family: "Montserrat Alternates", Helvetica;
    --button-mobile-font-weight: 700;
    --button-mobile-font-size: 9px;
    --button-mobile-letter-spacing: 0px;
    --button-mobile-line-height: 120.00000476837158%;
    --button-mobile-font-style: normal;
  }
  