<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styleguide.css' %}" />
    <link rel="stylesheet" href="{% static 'user/login.css' %}"/>
  </head>
  <body>
    <div class="element-login">
      <div class="div">
        <div class="overlap">
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
          <div class="group">
            <div class="welcomeback-fabiana">Xin chào cậu 👋</div>
            <p class="text-wrapper">Cậu đăng nhập ở đây nhee</p>
          </div>
          <div class="group-2">
            <input class="frame"><div class="text"></div></input>
            <div class="label">Địa chỉ Email</div>
          </div>
          <div class="frame-2">
            <label class="checkbox-container">
              <h1 class="checkbox-text">Ghi nhớ tài khoản giúp cậu</h1>
              <input type="checkbox" checked>
              <span class="checkmark"></span>
            </label>
            <p class="welcomeback-fabiana-2">Cậu quên mật khẩu sao?</p>
          </div>
          <button class="button">
            <img class="close-up" src="https://c.animaapp.com/0iD0Hk0Q/img/close-up@2x.png" />
            <a class="text-wrapper-2">DÔ MUA HOA THOIII </a>
          </button>
          <div class="overlap-group-wrapper">
            <div class="overlap-group">
              <div class="group-3">
                <input class="frame-3"> </input>
                <div class="label">Mật khẩu</div>
              </div>
            </div>
          </div>
        </div>
        <div class="HC-showcase-wrapper">
          <img class="HC-showcase" src="https://c.animaapp.com/0iD0Hk0Q/img/hc-showcase-26-1@2x.png" />
        </div>
        <img class="hoa-nhy-tng-tng" src="https://c.animaapp.com/0iD0Hk0Q/img/hoa-nh-y-t-ng-t-ng.svg" />
        <img class="bng-do" src="https://c.animaapp.com/0iD0Hk0Q/img/b-ng-d-o.svg" />
        <img class="bng-quo" src="https://c.animaapp.com/0iD0Hk0Q/img/b-ng-qu-o.svg" />
        <img class="u-x" src="https://c.animaapp.com/0iD0Hk0Q/img/--u-x-@2x.png" />
        <img class="hoa-nhy-tng-tng-2" src="https://c.animaapp.com/0iD0Hk0Q/img/hoa-nh-y-t-ng-t-ng-1.svg" />
        <img class="bng-do-2" src="https://c.animaapp.com/0iD0Hk0Q/img/b-ng-d-o-1.svg" />
        <img class="bng-quo-2" src="https://c.animaapp.com/0iD0Hk0Q/img/b-ng-qu-o-1.svg" />
        <img class="u-x-2" src="https://c.animaapp.com/0iD0Hk0Q/img/--u-x--1@2x.png" />
      </div>
    </div>
  </body>
</html>
